{% extends "site_base.html" %}
{% load typogrify_tags %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}){% endblock %}
{% block meta %}
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block body-class %}profile group-profile{% endblock %}
{% block content %}

{% if object.get_status_display == "Other" %}
    <p>We apologize, but we are unsure of this group's status due to insufficient information.</p>
{% endif %}

<header class="section-masthead">
    <div class="container">
        <div class="metadata-names">
            <h1><span class="name">{{ object.name }}</span> <span class="romanized-name">{{ object.romanized_name }}</span></h1>
            <div class="date tenure">{{ object.started | date:"F j, Y" }}&ndash;{% if object.ended %}{{ object.ended }}{% else %}Present{% endif %} <span class="tenure-in-days">{{ object.age_in_days }} days</div>
        </div>
    </span>
</header>

<div class="latest-releases">
    <div class="container">
        <div class="release">
            {% with object.latest_album as release %}
            <div class="release-image">
                <div class="empty-image"><span class="ss-icon ss-disc"></span></div>
            </div>
            <div class="release-meta">
                <span class="name">{{ release.name }}</span>
                <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name|typogrify }}</span></a>
                <div class="release-date">{{ release.released|date:"Y/m/d" }} &middot; {{ release.editions.count }} edition{{ release.editions.count|pluralize }}</div>
            </div>
            {% endwith %}
        </div>
        <div class="release">
            {% with object.latest_single as release %}
            <div class="release-image">
                <div class="empty-image"><span class="ss-icon ss-disc"></span></div>
            </div>
            <div class="release-meta">
                <span class="name">{{ release.name }}</span>
                <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name|typogrify }}</span></a>
                <div class="release-date">{{ release.released|date:"Y/m/d" }} &middot; {{ release.editions.count }} edition{{ release.editions.count|pluralize }}</div>
            </div>
            {% endwith %}
        </div>
    </div>
</div>

<section class="memberships">
    <div class="container">
        {% if memberships.active %}
        <div class="actives">
            <div class="active-leader">
            {% with memberships.leader as member %}
                <span class="name">{{ member.idol.name }}</span>
                <a href="{{ member.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
            {% endwith %}
            </div>
            <div class="active-members">
                <div class="membership-section-title"><span class="pill">Current Members</span></div>
                <ul class="membership-list active-members">
                {% for member in memberships.active %}
                    <li class="membership">
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        Since {{ member.started }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if memberships.inactive %}
        <div class="inactives">
            {% if memberships.leaders %}
            {% if memberships.leaders|length == 1 %}
            <div class="inactive-leader">
            {% for member in memberships.leaders %}
                <span class="name">{{ member.idol.name }}</span>
                <a href="{{ member.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                {{ member.started }}&ndash;{{ member.ended }}
            {% endfor %}
            </div>
            {% else %}
            <div class="inactive-leaders">
                <ul class="membership-list">
                {% for member in memberships.leaders %}
                    <li class="membership">
                        <div class="membership-names">
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        {{ member.started }}&ndash;{{ member.ended }}
                        </div>
                        <div class="membership-graph">
                            <div class="bar" style="
                                margin-left: {% widthratio member.days_before_starting object.age_in_days 636 %}px;
                                width: {% widthratio member.tenure_in_days object.age_in_days 636 %}px;
                                background-color: grey;
                            ">
                                &nbsp;
                            </div>
                            <div class="bar" style="
                                margin-left: {% widthratio member.days_before_becoming_leader object.age_in_days 636 %}px;
                                width: {% widthratio member.leadership_tenure_in_days object.age_in_days 636 %}px;
                                background-color: black;
                            ">
                                &nbsp;
                            </div>
                        </div>

                        <div class="membership-stats">
                            {{ member.days_before_starting }}
                            {{ member.tenure_in_days }}
                            {{ member.leadership_tenure_in_days }}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endif %}
            <div class="inactive-members">
                <div class="membership-section-title"><span class="pill">Former Members</span></div>
                <ul class="membership-list">
                {% for member in memberships.inactive %}
                    <li class="membership">
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        {{ member.started }}&ndash;{{ member.ended }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<section class="releases">
    <div class="container">
        {% if singles %}
        <div class="releases-singles">
            <h2 class="section-title">Singles {{ singles|length }}</h2>
            <ul class="release-list">
            {% for release in singles %}
                <li class="release">
                    <div class="release-image">
                        <div class="empty-image"><span class="ss-icon ss-disc"></span></div>
                    </div>
                    <div class="release-meta">
                        {{ release.number }}
                        <span class="name">{{ release.name }}</span>
                        <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name|typogrify }}</span></a>
                        <div class="release-date">{{ release.released|date:"Y/m/d" }} &middot; {{ release.editions.count }} edition{{ release.editions.count|pluralize }}</div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div><!-- .releases-singles -->
        {% endif %}
        {% if albums %}
        <div class="releases-albums">
            <h2 class="section-title">Albums {{ albums|length }}</h2>
            <ul class="release-list">
            {% for release in albums %}
                <li class="release">
                    <div class="release-image">
                        <div class="empty-image"><span class="ss-icon ss-disc"></span></div>
                    </div>
                    <div class="release-meta">
                        {{ release.number }}
                        <span class="name">{{ release.name }}</span>
                        <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name|typogrify }}</span></a>
                        <div class="release-date">{{ release.released|date:"Y/m/d" }} &middot; {{ release.editions.count }} edition{{ release.editions.count|pluralize }}</div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div><!-- .releases-albums -->
        {% endif %}
    </div><!-- .container -->
</section><!-- .releases -->

{# {% if debug %}{% print object %}{% endif %} #}
{% endblock content %}
