{% extends "layouts/site_base.html" %}
{% load humanize %}
{% load typogrify_tags %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}){% endblock %}
{% block meta %}
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile group-profile" itemscope itemtype="http://schema.org/MusicGroup">
  <meta content="{{ object.get_absolute_url }}" itemprop="url">

  <div class="profile-masthead"></div>
  <header class="profile-header">
    <div class="container">
      <div class="profile-metadata">
        <div class="profile-photo"></div>
        <h1 class="profile-name">
          <span class="name">{{ object.name }}</span>
          <span class="romanized-name" itemprop="name">{{ object.romanized_name }}</span>
          {% if object.former_names %}<p class="formerly-known-as">Formerly known as <i>{{ object.former_names }}</i></p>{% endif %}
        </h1>
      </div>
    </div>
  </header>


  <div class="wat">
    <div class="container">
      <aside class="profile-vitals">
        <ul class="vitals-list">
          <li class="vital vital-age"><span class="ss-icon ss-clock"></span> {{ object.age }} <small>({{ object.age_in_days|intcomma }} days)</small> <span class="vital-label">Age</span></li>
          <li class="vital vital-anniversary"><span class="ss-icon ss-calendar"></span> <time datetime="{{ object.started|date:"c" }}" itemprop="foundingDate">{{ object.started }}</time> <span class="vital-label">Anniversary</span></li>
          {% if object.ended %}<li class="vital vital-disband"><span class="ss-icon ss-ban"></span> <time datetime="{{ object.ended|date:"c" }}">{{ object.ended }}</time> <span class="vital-label">Disbanded</span></li>{% endif %}
          <li class="vital vital-actives"><span class="ss-icon ss-users"></span> {{ memberships.active_count }} <span class="vital-label">Active Members</span></li>
        </ul>
      </aside>
      <div class="latest-releases">
        <div class="release">
        {% with object.latest_single as release %}
          <div class="pill-container"><span class="pill">Latest Single</span></div>
          {% include "people/partials/shared_releases_music_latest.html" with release=release %}
        {% endwith %}
        </div>
        <div class="release">
        {% with object.latest_album as release %}
          <div class="pill-container"><span class="pill">Latest Album</span></div>
          {% include "people/partials/shared_releases_music_latest.html" with release=release %}
        {% endwith %}
        </div>
      </div>
    </div>
  </header>

  {% if object.note %}<div class="profile-note">{{ object.note_processed|typogrify }}</div>{% endif %}
  {% if object.get_status_display == "Other" %}
      <p>We apologize, but we are unsure of this group's status due to insufficient information.</p>
  {% endif %}

  <div class="profile-subgroups-container container">
    <h2>Subgroups</h2>
    <div class="profile-subgroups">
      {% for subgroup in object.subgroups.all %}
        <span class="name">{{ subgroup.name }}</span>
        <a href="{{ subgroup.get_absolute_url }}"><span class="romanized-name">{{ subgroup.romanized_name }}</span></a>
        <span class="ss-icon ss-calendar"></span>
        <time datetime="{{ subgroup.started|date:"c" }}/{% if subgroup.ended %}{{ subgroup.ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
          {{ subgroup.started|date:"Y/m/d" }}&ndash;{% if subgroup.ended %}{{ subgroup.ended|date:"Y/m/d" }}{% else %}Present{% endif %}
        </time>
        <span class="tenure in-days">({{ subgroup.age_in_days }} days)</span>
      {% endfor %}
    </div>
  </div>

</section>

<section class="memberships">
    <div class="container">
        {% if memberships.active %}
        <div class="actives">
            <div class="active-leader" itemprop="musicGroupMember">
            {% with memberships.leader as member %}
                <span class="name">{{ member.idol.name }}</span>
                <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                <span class="tenure"><time datetime="{{ member.started|date:"c"}}/{% now "c" %}">Since {{ member.started|date:"F j, Y" }}</time></span>
                <span class="tenure leadership-tenure"><time datetime="{{ member.leadership_started|date:"c"}}/{% now "c" %}">Since {{ member.leadership_started|date:"F j, Y" }}</time></span>
            {% endwith %}
            </div>
            <div class="active-members">
                <div class="membership-section-title"><span class="pill">Current Members</span></div>
                <ul class="membership-list active-members">
                {% for member in memberships.active %}
                    <li class="membership" itemprop="musicGroupMember">
                        <div class="idol-image">
                            <div class="empty-image"><span class="ss-icon ss-disc"></span></div>
                        </div>
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        <span class="tenure"><time datetime="{{ member.started|date:"c"}}/{% now "c" %}">Since {{ member.started }}</time></span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if memberships.inactive %}
        <div class="inactives">
            {% if memberships.leaders %}
            {% if memberships.leaders|length == 1 %}
            <div class="inactive-leader">
            {% for member in memberships.leaders %}
                <span class="name">{{ member.idol.name }}</span>
                <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                <span class="tenure"><time datetime="{{ member.started|date:"c" }}/{{ member.ended|date:"c" }}">{{ member.started|date:"F j, Y" }}&ndash;{{ member.ended|date:"F j, Y" }}</time></span>
            {% endfor %}
            </div>
            {% else %}
            <div class="inactive-leaders">
                <ul class="membership-list">
                    <li class="membership-header">
                        <div class="membership-graph">
                            <span class="graph-started">{{ object.started|date:"Y/m/d" }}</span>
                            <span class="graph-ended">{% if object.ended %}{{ object.ended|date:"Y/m/d" }}{% else %}{% now "Y/m/d" %}{% endif %}</span>
                        </div>
                    </li>
                {% for member in memberships.leaders %}
                    <li class="membership">
                        <div class="membership-names">
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        </div>
                        <div class="membership-graph">
                            <div class="full-tenure bar" style="
                                margin-left: {% widthratio member.days_before_starting object.age_in_days 554 %}px;
                                width: {% widthratio member.tenure_in_days object.age_in_days 554 %}px;
                            "></div>
                            <div class="leadership-tenure bar" style="
                                margin-left: {% widthratio member.days_before_becoming_leader object.age_in_days 554 %}px;
                                width: {% widthratio member.leadership_tenure_in_days object.age_in_days 554 %}px;
                            "></div>
                            <span class="leadership-tenure-count" style="
                                margin-left: {% widthratio member.days_before_ending object.age_in_days 554 %}px;
                            ">{{ member.leadership_tenure_in_days|intcomma }}</span>
                        </div>
                        <div class="membership-stats">
                            <span class="tenure"><time datetime="{{ member.started|date:"c" }}/{{ member.ended|date:"c" }}">{{ member.started|date:"F j, Y" }}&ndash;{{ member.ended|date:"F j, Y" }}</time></span>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endif %}
            <div class="inactive-members">
                <div class="membership-section-title"><span class="pill">Former Members</span></div>
                <ul class="membership-list">
                {% for member in memberships.inactive %}
                    <li class="membership">
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        <span class="tenure"><time datetime="{{ member.started|date:"c" }}/{{ member.ended|date:"c" }}">{{ member.started|date:"F j, Y" }}&ndash;{{ member.ended|date:"F j, Y" }}</time></span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<section class="releases">
    <div class="container">
        {% if singles %}
        <div class="releases-singles">
            <h2 class="section-title">Singles {{ singles|length }}</h2>
            <ul class="release-list">
            {% for release in singles %}
                <li class="release">
                    <div class="release-image">
                        <div class="empty-image"><span class="ss-icon ss-disc"></span></div>
                    </div>
                    <div class="release-meta">
                        {{ release.number }}
                        <span class="name">{{ release.name }}</span>
                        <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name|typogrify }}</span></a>
                        <div class="release-date">
                            <time datetime="{{ release.released|date:"c" }}">{{ release.released|date:"Y/m/d" }}</time> &middot; {{ release.editions.count }} edition{{ release.editions.count|pluralize }}
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div><!-- .releases-singles -->
        {% endif %}
        {% if albums %}
        <div class="releases-albums">
            <h2 class="section-title">Albums {{ albums|length }}</h2>
            <ul class="release-list">
            {% for release in albums %}
                <li class="release">
                    <div class="release-image">
                        <div class="empty-image"><span class="ss-icon ss-disc"></span></div>
                    </div>
                    <div class="release-meta">
                        {{ release.number }}
                        <span class="name">{{ release.name }}</span>
                        <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name|typogrify }}</span></a>
                        <div class="release-date"><time datetime="{{ release.released|date:"c" }}">{{ release.released|date:"Y/m/d" }}</time> &middot; {{ release.editions.count }} edition{{ release.editions.count|pluralize }}</div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div><!-- .releases-albums -->
        {% endif %}
    </div><!-- .container -->
</section><!-- .releases -->
{% endblock content %}
