{% extends "layouts/site_base.html" %}
{% load humanize %}
{% load typogrify_tags %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}){% endblock %}
{% block meta %}
<meta property="og:title" content="{{ object.romanized_name }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile group-profile" itemscope itemtype="http://schema.org/MusicGroup">
  <meta content="{{ object.get_absolute_url }}" itemprop="url">

  <div class="profile-masthead"></div>
  <header class="profile-header">
    <div class="container">
      <div class="profile-metadata">
        <div class="profile-photo"></div>
        <h1 class="profile-name">
          <span class="name">{{ object.name }}</span>
          <span class="romanized-name" itemprop="name">{{ object.romanized_name }}</span>
          {% if object.former_names %}<p class="formerly-known-as">Formerly known as <i>{{ object.former_names }}</i></p>{% endif %}
        </h1>
      </div>
      {% if object.note or object.get_status_display == "Other" %}
      <div class="profile-note profile-status-{{ object.get_status_display|lower }}">
        <h4><span class="ss-icon ss-notepad"></span> Note</h4>
        {% if object.note %}{{ object.note_processed|typogrify }}{% endif %}
        {% if object.get_status_display == "Other" %}<p>We apologize, but we are unsure of this group's status due to insufficient information.</p>{% endif %}
      </div>
      {% endif %}
    </div>
  </header>

  <div class="profile-content">
    <aside class="profile-vitals">
      <div class="container">
        <ul class="vitals-list">
          <li class="vital vital-age"><span class="vital-label"><span class="ss-icon ss-clock"></span> Age</span> {{ object.age }} ({{ object.age_in_days|intcomma }} days)</li>
          <li class="vital vital-anniversary"><span class="vital-label"><span class="ss-icon ss-calendar"></span> Anniversary</span> <time datetime="{{ object.started|date:"c" }}" itemprop="foundingDate">{{ object.started }}</time></li>
          {% if object.ended %}<li class="vital vital-disband"><span class="vital-label"><span class="ss-icon ss-ban"></span> Disbanded</span> <time datetime="{{ object.ended|date:"c" }}">{{ object.ended }}</time></li>{% endif %}
          <li class="vital vital-actives"><span class="vital-label"><span class="ss-icon ss-users"></span> Active Members</span> {{ memberships.active_count }}</li>
        </ul>
      </div>
    </aside>
    <div class="profile-participations">
      <div class="container">
        <ul class="participation-cards">
          <li class="participation-card group-card">
            <div class="card-statistic">
              <h3 class="card-type"><span class="ss-icon ss-usergroup"></span> <span>Members</span></h3>
              <span class="count">{{ object.memberships.count }}</span>
            </div>
            <div class="card-example">
            {% with object.primary_membership as primary %}
              <div class="example-heading"><span class="pill">Summary</span></div>
              <a href="{{ primary.group.get_absolute_url }}">{{ primary.group }}</a>
              <div class="example-subtext">
                <time datetime="{{ primary.started|date:"c" }}/{% if primary.ended %}{{ primary.ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
                  {% if primary.is_active %}
                    Joined <b>{{ primary.started|date:"F j, Y" }}</b>
                  {% else %}
                    Member from <b>{{ primary.started|date:"F j, Y" }}</b>&ndash;<b>{{ primary.ended|date:"F j, Y" }}</b>
                  {% endif %}
                </time>
                {% if primary.is_leader %}
                <time datetime="{{ primary.leadership_started|date:"c" }}/{% if primary.leadership_ended %}{{ primary.leadership_ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
                  {% if not primary.leadership_ended %}
                    and leader since <b>{{ primary.leadership_started|date:"F j, Y" }}</b>
                  {% else %}
                    and was leader from <b>{{ primary.leadership_started|date:"F j, Y"}}</b>&ndash;<b>{{ primary.leadership_ended|date:"F j, Y" }}</b>
                  {% endif %}
                </time>
              {% endif %}
              </div>
            {% endwith %}
            </div>
          </li><!-- .group-participation -->
          <li class="participation-card single-participation">
            <div class="card-statistic">
              <h3 class="card-type"><span class="ss-icon ss-eighthnote"></span> <span>Singles</span></h3>
              <span class="count">{{ singles|length }}</span>
            </div>
            <div class="card-example">
              {% with object.latest_single as release %}
              <div class="example-heading"><span class="pill">{% if object.is_active %}Latest{% else %}Last{% endif %}</span></div>
              <a href="{{ release.get_absolute_url }}">{{ release }}</a>
              <div class="example-subtext">
                <div class="release-data release-date">
                  <time datetime="{{ release.released|date:"c" }}"><span class="ss-icon ss-calendar"></span> <b>{{ release.released|date }}</b></time>
                  <time datetime="{{ release.released|date:"c" }}/{% now "c" %}" class="timesince">({{ release.released|timesince }} ago)</time>
                </div>
                <div class="release-data release-editions">
                  <span class="ss-icon ss-disc"></span> <b>{{ release.editions.count }}</b> edition{{ release.editions.count|pluralize }}
                </div>
              </div>
              {% endwith %}
            </div>
          </li><!-- .single-participation -->
          <li class="participation-card album-participation">
            <div class="card-statistic">
              <h3 class="card-type"><span class="ss-icon ss-music"></span> <span>Albums</span></h3>
              <span class="count">{{ albums|length }}</span>
            </div>
            <div class="card-example">
              {% with object.latest_album as release %}
              <div class="example-heading"><span class="pill">{% if object.is_active %}Latest{% else %}Last{% endif %}</span></div>
              <a href="{{ release.get_absolute_url }}">{{ release }}</a>
              <div class="example-subtext">
                <div class="release-data release-date">
                  <time datetime="{{ release.released|date:"c" }}"><span class="ss-icon ss-calendar"></span> <b>{{ release.released|date }}</b></time>
                  <time datetime="{{ release.released|date:"c" }}/{% now "c" %}" class="timesince">({{ release.released|timesince }} ago)</time>
                </div>
                <div class="release-data release-editions">
                  <span class="ss-icon ss-disc"></span> <b>{{ release.editions.count }}</b> edition{{ release.editions.count|pluralize }}
                </div>
              </div>
              {% endwith %}
            </div>
          </li><!-- .album-participation -->
          <li class="participation-card event-participation">
            <div class="card-statistic">
              <h3 class="card-type"><span class="ss-icon ss-mic"></span> <span>Events</span></h3>
              <span class="count">{{ events|length }}</span>
            </div>
            <div class="card-example">
              {% with object.latest_event as event %}
              <div class="example-heading"><span class="pill">{% if object.is_active %}Latest{% else %}Last{% endif %}</span></div>
              <a href="{{ event.get_absolute_url }}">{{ event }}</a>
              <div class="example-subtext">
                <time datetime="{{ release.released|date:"c" }}"><span class="ss-icon ss-calendar"></span> <b>{{ event.start_date|date }}</b></time>
              </div>
              {% endwith %}
            </div>
          </li><!-- .event-participation -->
        </ul><!-- .participation-list -->
      </div><!-- .container -->
    </div><!-- .participations -->

    {% if object.subgroups.all %}
    <div class="profile-subgroups-container container">
      <h2>Subgroups</h2>
      <div class="profile-subgroups">
        {% for subgroup in object.subgroups.all %}
          <span class="name">{{ subgroup.name }}</span>
          <a href="{{ subgroup.get_absolute_url }}"><span class="romanized-name">{{ subgroup.romanized_name }}</span></a>
          <span class="ss-icon ss-calendar"></span>
          <time datetime="{{ subgroup.started|date:"c" }}/{% if subgroup.ended %}{{ subgroup.ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
            {{ subgroup.started|date }}&ndash;{% if subgroup.ended %}{{ subgroup.ended|date }}{% else %}Present{% endif %}
          </time>
          <span class="tenure in-days">({{ subgroup.age_in_days }} days)</span>
        {% endfor %}
      </div>
    </div>
    {% endif %}

<section class="memberships">
    <div class="container">
        {% if memberships.active %}
        <div class="actives">
            <div class="active-leader" itemprop="musicGroupMember">
            {% with memberships.leader as member %}
                <span class="name">{{ member.idol.name }}</span>
                <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                <span class="tenure"><time datetime="{{ member.started|date:"c"}}/{% now "c" %}">Since {{ member.started|date:"F j, Y" }}</time></span>
                <span class="tenure leadership-tenure"><time datetime="{{ member.leadership_started|date:"c"}}/{% now "c" %}">Since {{ member.leadership_started|date:"F j, Y" }}</time></span>
            {% endwith %}
            </div>
            <div class="active-members">
                <div class="membership-section-title"><span class="pill">Current Members</span></div>
                <ul class="membership-list active-members">
                {% for member in memberships.active %}
                    <li class="membership" itemprop="musicGroupMember">
                        <div class="idol-image">
                            <div class="empty-image"><span class="ss-icon ss-disc"></span></div>
                        </div>
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        <span class="tenure"><time datetime="{{ member.started|date:"c"}}/{% now "c" %}">Since {{ member.started }}</time></span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if memberships.inactive %}
        <div class="inactives">
            {% if memberships.leaders %}
            {% if memberships.leaders|length == 1 %}
            <div class="inactive-leader">
            {% for member in memberships.leaders %}
                <span class="name">{{ member.idol.name }}</span>
                <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                <span class="tenure"><time datetime="{{ member.started|date:"c" }}/{{ member.ended|date:"c" }}">{{ member.started|date:"F j, Y" }}&ndash;{{ member.ended|date:"F j, Y" }}</time></span>
            {% endfor %}
            </div>
            {% else %}
            <div class="inactive-leaders">
                <ul class="membership-list">
                    <li class="membership-header">
                        <div class="membership-graph">
                            <span class="graph-started">{{ object.started|date }}</span>
                            <span class="graph-ended">{% if object.ended %}{{ object.ended|date }}{% else %}{% now "Y/m/d" %}{% endif %}</span>
                        </div>
                    </li>
                {% for member in memberships.leaders %}
                    <li class="membership">
                        <div class="membership-names">
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        </div>
                        <div class="membership-graph">
                            <div class="full-tenure bar" style="
                                margin-left: {% widthratio member.days_before_starting object.age_in_days 554 %}px;
                                width: {% widthratio member.tenure_in_days object.age_in_days 554 %}px;
                            "></div>
                            <div class="leadership-tenure bar" style="
                                margin-left: {% widthratio member.days_before_becoming_leader object.age_in_days 554 %}px;
                                width: {% widthratio member.leadership_tenure_in_days object.age_in_days 554 %}px;
                            "></div>
                            <span class="leadership-tenure-count" style="
                                margin-left: {% widthratio member.days_before_ending object.age_in_days 554 %}px;
                            ">{{ member.leadership_tenure_in_days|intcomma }}</span>
                        </div>
                        <div class="membership-stats">
                            <span class="tenure"><time datetime="{{ member.started|date:"c" }}/{{ member.ended|date:"c" }}">{{ member.started|date:"F j, Y" }}&ndash;{{ member.ended|date:"F j, Y" }}</time></span>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endif %}
            <div class="inactive-members">
                <div class="membership-section-title"><span class="pill">Former Members</span></div>
                <ul class="membership-list">
                {% for member in memberships.inactive %}
                    <li class="membership">
                        <span class="name">{{ member.idol.name }}</span>
                        <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                        <span class="tenure"><time datetime="{{ member.started|date:"c" }}/{{ member.ended|date:"c" }}">{{ member.started|date:"F j, Y" }}&ndash;{{ member.ended|date:"F j, Y" }}</time></span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<div class="profile-releases">
  <div class="container">
  {% if singles %}
    <div class="releases-singles">
      <h2 class="section-title">
        <span class="title">
          <span class="ss-icon ss-eighthnote"></span> Singles
          <b class="count">{{ singles|length }}</b>
        </span>
      </h2>
      <ul class="release-list">
      {% for release in singles %}
        {% include "people/partials/single_list_item.html" with release=release show_participants=False %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if albums %}
    <div class="releases-albums">
      <h2 class="section-title">
        <span class="title">
          <span class="ss-icon ss-music"></span> Albums
          <b class="count">{{ albums|length }}</b>
        </span>
      </h2>
      <ul class="release-list">
      {% for release in albums %}
        {% include "people/partials/album_list_item.html" with release=release show_participants=False %}
      {% endfor %}
      </ul><!-- .release-list -->
    </div><!-- .releases-albums -->
  {% endif %}
  </div><!-- .container -->
</div><!-- .releases -->
{% endblock content %}
