[run]
omit =
    ../*admin*
    ../*dashboard*
    ../*migrations*
    ../*search*
    ../*serializers*
    ../*sitemaps*

[report]
exclude_lines =
    pragma: no cover
    def __unicode__
    def autocomplete_search_fields
precision = 2
