{% load static from staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE|slice:"2" }}">
<head>
<title>{% block title_override %}{% block title %}{% endblock %} &middot; Hello! Base{% endblock %}</title>
<meta charset="utf-8">
<meta name="author" content="Revyver, Inc.">
<meta name="google" value="notranslate">
{% block meta %}{% endblock %}
<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//hello-base.s3.amazonaws.com">
<link rel="stylesheet" href="//cloud.typography.com/7547452/745842/css/fonts.css">
<link rel="stylesheet" href="{% static "stylesheets/application.css" %}">
</head>
<body id="hello-base" class="path-{% firstof request.path|slugify "root" %} {% block body-class %}{% endblock %}" data-path="{{ request.path }}">
{% block body %}
<div class="wrapper">
{% block wrapper %}
<div class="page">
{% block page %}{% endblock page %}
</div>
{% endblock wrapper %}
</div>
{% endblock body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{% static "javascripts/handlebars.js" %}"></script>
<script src="{% static "javascripts/templates.js" %}"></script>
<script src="{% static "javascripts/application.js" %}"></script>
</body>
</html>
