{% load i18n %}
{% load static from staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE|slice:"2" }}">
<head prefix="og: http://ogp.me/ns#">
<title>{% block title_override %}{% block title %}{% endblock %} &middot; Hello! Base &gt; The Hello! Project Database{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Revyver, Inc.">
<meta name="google" value="notranslate">
<meta name="description" content="Discover everything about Hello! Project. We are the base of your fandom. We are Hello! Base.">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@hello_base">
<meta property="fb:app_id" content="113685200489">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Hello! Base">
{% block meta %}
<meta property="og:type" content="website">
<meta property="og:image" content="{% static 'images/avatar.png' %}">
{% endblock %}
<link rel="author" href="{% url "humans" %}" type="text/plain" />
<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//dxglax8otc2dg.cloudfront.net">
<link rel="icon" href="{% static 'images/favicon.ico' %}">
<link rel="search" type="application/opensearchdescription+xml" title="Hello! Base Search" href="{% url 'opensearch' %}">
<link rel="stylesheet" href="//cloud.typography.com/7547452/745842/css/fonts.css">
<link rel="stylesheet" href="{% if debug %}{% static 'stylesheets/application.css' %}{% else %}{% static 'stylesheets/production.min.css' %}{% endif %}" data-turbolinks-track>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{% static 'javascripts/components.min.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/application.min.js' %}" data-turbolinks-track></script>
{% if not debug %}
<script type="text/javascript">
  var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
  analytics.load("qs70qk1");
</script>
{% endif %}
</head>
<body id="hello-base" class="lang-{{ LANGUAGE_CODE }} path-{% firstof request.path|slugify "root" %} {% block body-class %}{% endblock %}" data-path="{{ request.path }}">
{% block body %}
<div class="page">
{% block page %}{% endblock page %}
</div>
{% endblock body %}
</body>
</html>
