{% extends "base.html" %}

{% block page %}
<header class="header">
    <div class="container">
        <a href="{% url "site-home" %}" class="header-logo-wordmark">
            <span data-icon="hicon-logo-hello" class="hicon hicon-logo-hello"></span><span data-icon="hicon-logo-base" class="hicon hicon-logo-base"></span>
        </a>

        <form action="{% url "haystack_search" %}" class="header-search searchbar" method="get" accept-charset="utf-8">
            <input type="text" autocapitalize="off" id="id_q" name="q" placeholder="What are you looking for?">
            <button type="submit"><span class="ss-icon ss-search"></span></button>
        </form>
    </div>
</header>
<section class="content" role="content">
{% block content %}{% endblock %}
</section>
{% include "partials/footer.html" %}
{% endblock page %}
