{% extends "site_base.html" %}

{% block title %}{% if query %}Search results for "{{ query }}"{% else %}Search the Base{% endif %}{% endblock %}
{% block content %}

{% if query %}
<header>
    <div class="container">
        <h1>We found <strong>{{ page.paginator.count }}</strong> results for "{{ query }}"</h1>
    </div>
</header>

{# {% print page.paginator %} #}

<div class="container">
    <ul class="results">
    {% for result in page.object_list %}
        <li class="result">
            {% if result.content_type == "music.album" %}{% include "search/includes/music/album.html" %}{% endif %}
            {% if result.content_type == "music.single" %}{% include "search/includes/music/single.html" %}{% endif %}
            {% if result.content_type == "people.idol" %}{% include "search/includes/people/idol.html" %}{% endif %}
            {% if result.content_type == "people.group" %}{% include "search/includes/people/group.html" %}{% endif %}
        </li>
    {% empty %}
        <li class="empty">
            <h2>OTZ</h2>
            <p>Sorry, we couldn't find anything for the term "{{ query }}".</p>
        </li>
    {% endfor %}
    </ul>
</div>

{% endif %}

{% endblock content %}
