{% extends "base.html" %}

{% block title_override %}(Re)discover Hello! Project &middot; Welcome to Hello! Base{% endblock %}
{% block body-class %}landing landing-home{% endblock %}
{% block page %}

<div class="hero">
    <div class="container">
        <a href="{% url "site-home" %}" class="header-logo-wordmark">
            <span data-icon="hicon-logo-hello" class="hicon hicon-logo-hello"></span><span data-icon="hicon-logo-base" class="hicon hicon-logo-base"></span>
        </a>
        <p class="tagline">(Re)discover <em>everything</em><br> about <a href="http://helloproject.com">Hello! Project</a>.</p>
        <p class="subtext"></p>

        <form accept-charset="utf-8" action="{% url "haystack_search" %}" class="home-search-form" method="get">
            <input type="text" autocapitalize="off" id="id_q" name="q" placeholder="What are you looking for?">
            <button type="submit">Search</button>
        </form>

        <div class="browse">

        </div>
        <div class="examples">
            {% url "haystack_search" as search %}
            E.g. <a href="{{ search }}?q=sayashi">sayashi</a>, <a href="{{ search }}?q=musume">musume</a> or <a href="{{ search }}?q=wagamama">wagamama</a>
        </div>
    </div>
</div>

{% filter typogrify %}
<ul class="reasonings container">
    <li class="reasoning">
        <h2>The most complete Hello! Project database.</h2>
        <p>From <a href="">Morning Coffee's 8cm</a> CD release to all the performances of <a href="">Morning Musume's recent tour</a>, we aim to have the most complete database on Hello! Project, its idols and groups.</p>
    </li>
    <li class="reasoning">
        <h2>All the Hello! Project statistics you could ever want.</h2>
        <p>Ever wonder how many singles <a href="{% url "idol-detail" "ishikawa-rika" %}">Charmy</a> took part in? How about how many days <a href="{% url "idol-detail" "michishige-sayumi" %}">Sayu</a> has been leader?</p>
    </li>
    <li class="reasoning">
        <h2>We take a deeper view into Hello! Project.</h2>
        <p>We find all sorts of corrlelations to give you an entirely new view of your favorite groups and idols.</p>
    </li>
</ul>
{% endfilter %}

{% include "partials/footer.html" %}
{% endblock page %}
