{% extends "base.html" %}
{% load static %}

{% block title %}Image Viewer{% endblock %}
{% block page %}
<section class="image-detail">
  <header class="image-header" role="banner">
    <a href="{% url "site-home" %}" class="logo-wordmark header-logo-wordmark">
        <span data-icon="hicon-logo-hello" class="hicon hicon-logo-hello"></span><span data-icon="hicon-logo-base" class="hicon hicon-logo-base"></span>
        <span class="header-tagline">Image Viewer</span>
    </a>
    <div class="image-dimensions">
      <span class="image-width"></span> &#x2715; <span class="image-height"></span>
    </div>
  </header>
  <div class="image-viewer">
    <img id="image" src="{% get_media_prefix %}{{ slug }}">
  </div>
</section>

<script>
$(document).ready(function() {
  $('.image-viewer img').click(function() {
    $(this).toggleClass('zoomed');
    $('.image-header').toggleClass('zoomed');
    return false;
  });

  var img = document.getElementById('image');
  var width = img.clientWidth;
  var height = img.clientHeight;

  $('.image-width').html(width);
  $('.image-height').html(height);
});
</script>
{% endblock page %}
