{% extends "base.html" %}
{% load cache correlation_tags humanize typogrify_tags %}
{% load static from staticfiles %}

{% block title_override %}Discover everything about Hello! Project &middot; Welcome to Hello! Base, the Hello! Project Database{% endblock %}
{% block body-class %}landing landing-home{% endblock %}
{% block page %}
<div class="hero">
  <header class="header">
    <div class="container">
      <a href="{% url "site-home" %}" class="logo-wordmark header-logo-wordmark">
        <span data-icon="hicon-logo-hello" class="hicon hicon-logo-hello"></span><span data-icon="hicon-logo-base" class="hicon hicon-logo-base"></span>
      </a>
      <p class="header-tagline">{% block site-tagline %}The home base of your fandom.{% endblock %}</p>
    </div>
  </header>
  <div class="masthead container">
    <p class="hero-tagline">Discover everything about <a href="http://helloproject.com">Hello! Project</a>.</p>
    <form accept-charset="utf-8" action="{% url "search" %}" class="hero-search searchbar" method="get">
      {% include "partials/searchbar.html" %}
      <div class="examples">
        <div class="terms">
          {% url "search" as search %}
          E.g. <a href="{{ search }}?q=sayashi">sayashi</a>, <a href="{{ search }}?q=musume">musume</a> or <a href="{{ search }}?q=wagamama">wagamama</a>
        </div>
        <div class="browse"></div>
      </div>
    </form>
  </div>
  <div class="hero-image"><img src="{% static 'images/hero.jpg' %}"></div>
</div>

{% if request.user.is_authenticated %}
<header class="correlations-header">
  <div class="container">
    <div class="correlations-masthead">
      <h2><span>H!P</span> Happenings</h2>
      <p class="correlations-explanation"><b><i>Happenings</i></b> are more than just release dates. Everything with a date is a <i>happening</i> on Hello! Base.</p>
    </div>
    <ul class="correlations-explore-more">
      <li class="explore-header">Discover more<br><b><i>Happenings</i></b></li>
      <li class="explore-2013"><a href="{% url 'happenings-by-year' 2013 %}">2013</a></li>
      <li class="explore-2012"><a href="{% url 'happenings-by-year' 2012 %}">2012</a></li>
      <li class="explore-2011"><a href="{% url 'happenings-by-year' 2011 %}">2011</a></li>
    </ul>
  </div>
  <div class="correlations-header-graph js-correlations-header-graph" data-url="{% url 'correlations-aggregate-julian' %}"></div>
</header>
<div class="correlations">
  <div class="container">
    {% cache 3600 home.happenings %}
    <div class="correlation-happenings">
      <ul class="happening-date-list">
      {% for month, days in happenings.iteritems %}
      {% for day, events in days.iteritems %}
      <li class="happening-date">
        <h3 class="happening-date-name"><span class="month-name">{{ month }}/</span>{{ day }}</h3>
        <ul class="happening-event-list">
        {% for event in events %}
          <li class="happening-events">
            {% include event.get_include_template %}
          </li>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      {% endfor %}
      </ul>
      <div class="happening-explore-more">
        <a href="{% url 'happenings-by-year' 2013 %}">Discover More Happenings <span class="ss-icon ss-navigateright"></span></a>
      </div>
    </div>
    {% endcache %}
    <div class="correlation-history">
      <h2><i>This day</i> in Hello! Project.</h2>
      <ul class="history-list">
      {% for event in onthisday %}
        <li class="history-item">
          <div class="history-timestamp">
            <span class="history-date">{{ event.timestamp|date:"SHORT_DATE_FORMAT" }}</span>
            <span class="history-weekdate">{{ event.timestamp|date:"l" }}</span>
          </div>
          <div class="history-event">{% include event.get_include_template %}</div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% filter typogrify %}
<div class="reasonings">
  <ul class="reasoning-list container">
    <li class="reasoning">
      <span class="reasoning-icon"><span class="ss-icon ss-books"></span></span>
      <h2>The <i>most complete</i> Hello! Project database.</h2>
      <p>From <a href="{% url 'single-detail' 'morning-coffee' %}">Morning Coffee's 8cm</a> CD release to <a href="{% url 'idol-detail' 'ishikawa-rika' %}">Ishikawa's 16 groups</a>, we aim to have the most complete database on Hello! Project, its idols, and groups.</p>
    </li>
    <li class="reasoning">
      <span class="reasoning-icon"><span class="ss-icon ss-analytics"></span></span>
      <h2><i>All the statistics</i> you could ever want.</h2>
      <p>Ever wonder how old <a href="{% url 'idol-detail' 'nakazawa-yuuko' %}">Yuuko</a> was in her <a href="{% url 'single-detail' 'dannasama' %}">final single</a>? How about how many days <a href="{% url "idol-detail" "michishige-sayumi" %}">Sayu</a> has been leader? Hello! Base strives to answer those questions and more.</p>
    </li>
    <li class="reasoning">
      <span class="reasoning-icon"><span class="ss-icon ss-compass"></span></span>
      <h2>A <i>comprehensive view</i> of Hello! Project.</h2>
      <p>We take our data and find all sorts of correlations to give you an entirely new view of your favorite groups and idols.</p>
    </li>
  </ul>
</div>
<div class="counts container">
  <header class="count-header">
    <h2><span class="heading"><span class="ss-icon ss-calculator"></span> By the <i>numbers</i>.</span></h2>
    <p><strong>We have a lot of data.</strong> Here’s a quick overview of what’s in there.</p>
  </header>
  <ul class="count-list">
    {% cache 3600 counts %}
    <li class="count"><span>{{ counts.idols }}</span> <strong>idols</strong></li>
    <li class="count"><span>{{ counts.groups }}</span> <strong>groups</strong></li>
    <li class="count"><span>{{ counts.albums }}</span> <strong>albums</strong></li>
    <li class="count"><span>{{ counts.singles }}</span> <strong>singles</strong></li>
    <li class="count"><span>{{ counts.editions|intcomma }}</span> <strong>editions</strong></li>
    <li class="count"><span>{{ counts.tracks|intcomma }}</span> <strong>music tracks</strong></li>
    {% endcache %}
  </ul>
</div>
{% endfilter %}

{% include "partials/footer.html" %}
{% endblock page %}
