{% extends "layouts/site_base.html" %}
{% load correlation_tags static %}

{% block title %}{{ year|date:"Y" }} Happenings{% endblock %}
{% block body-class %}override{% endblock %}
{% block content %}
<section class="happenings happening-decade-{{ year|date:'Y'|slice:':3' }}0">
  <header class="override-header">
    <div class="container">
      <h1 class="happening-header"><span class="year">{{ year|date:"Y" }}</span> Happenings</h1>
    </div>

    <div class="happening-navigation">
      <div class="container">
        <div class="previous-year">
        {% if previous_year %}
          <a href="{% url 'happenings-by-year' previous_year|date:'Y' %}"><span class="ss-icon ss-navigateleft"></span> {{ previous_year|date:"Y" }}</a>
        {% endif %}
        </div>
        <div class="happening-decades">
          <header class="happening-decades-header">
            <a href="javascript:;" class="happening-toggle">
              <span class="ss-icon ss-calendar"></span>
              <strong>Other Years</strong>
              <span class="ss-icon ss-dropdown"></span>
            </a>
          </header>
          <ul class="happening-decade-list">
          {% for decade, values in years.items reversed %}
            <li class="{{ decade }}">
              <strong>{{ decade }}</strong>
              <ul class="happening-year-list">
              {% for value in values %}
                <li {% if year == value %}class="selected"{% endif %}>
                  <a href="{% url 'happenings-by-year' value|date:'Y' %}">{{ value|date:"Y" }}</a>
                </li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="next-year">
        {% if next_year %}
          <a href="{% url 'happenings-by-year' next_year|date:'Y' %}">{{ next_year|date:"Y" }} <span class="ss-icon ss-navigateright"></span></a>
        {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="happening-statistics">
    {# <h2>The Year in Review</h2> #}
    <div class="container">

      <ul class="happening-statistic-list">
      {% for app_label, model in statistics.iteritems %}
        <li class="happening-app">
          {{ app_label }}
          <ul class="happening-model-list model-{{ model }}">
          {% for identifier, fields in model.iteritems %}
            <li>
            {{ identifier }}
            {% for field, count in fields.iteritems %}
            <strong class="statistic-count">{{ count.0 }}</strong>
            <strong class="statistic-change">{{ count.1 }}</strong>
            <span class="statistic-label">{{ field }}</span>
            {% endfor %}
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>

    </div>
  </div>

  <div class="container">
    {% comment %}
    <ul class="happening-month-list">
    {% for date in date_list %}
      <li><a href="#{{ date|date:"F"|lower }}">{{ date|date:"F" }}</a></li>
    {% endfor %}
    </ul>
    {% endcomment %}

    {% regroup object_list by month as month_list %}
    <ul class="happening-month-list">
    {% for month in month_list %}
      <li class="happening-month" id="{{ month.grouper|month_name|lower }}">
        <h2>
          {{ month.grouper|month_name }}
          <small>{{ year|date:"Y" }}</small>
        </h2>
        <ul class="happening-date-list">
        {% include "correlations/partials/happening_year_list_item.html" %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
{% endblock content %}
