{% extends "layouts/site_base.html" %}
{% load correlation_tags %}
{% load static from staticfiles %}

{% block title %}{{ year|date:"Y" }} Happenings{% endblock %}
{% block meta %}
<meta property="og:description" content="Hello! Base's Happenings: Find out what happened in Hello! Project during {{ year|date:'Y' }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'images/facebook-happenings.png' %}">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block body-class %}override{% endblock %}
{% block content %}
<section class="happenings happening-decade-{{ year|date:'Y'|slice:':3' }}0 happening-year-{{ year|date:'Y' }}">
  <header class="override-header">
    <div class="container">
      <h1 class="happening-header"><span class="year">{{ year|date:"Y" }}</span> Happenings</h1>
    </div>

    <div class="happening-navigation">
      <div class="container">
        <div class="previous-year">
        {% if previous_year %}
          <a href="{% url 'happenings-by-year' previous_year|date:'Y' %}"><span class="ss-icon ss-navigateleft"></span> {{ previous_year|date:"Y" }}</a>
        {% endif %}
        </div>
        <div class="happening-decades">
          <header class="happening-decades-header">
            <a href="javascript:;" class="happening-toggle">
              <span class="ss-icon ss-calendar"></span>
              <strong>Other Years</strong>
              <span class="ss-icon ss-navigatedown"></span>
            </a>
          </header>
          <ul class="happening-decade-list">
          {% for decade, values in years.items reversed %}
            <li class="happening-decade {{ decade }}">
              <strong>{{ decade }}</strong>
              <ul class="happening-year-list">
              {% for value in values %}
                <li class="happening-year {% if year == value %}selected{% endif %}">
                  <a href="{% url 'happenings-by-year' value|date:'Y' %}">{{ value|date:"Y" }}</a>
                </li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="next-year">
        {% if next_year %}
          <a href="{% url 'happenings-by-year' next_year|date:'Y' %}">{{ next_year|date:"Y" }} <span class="ss-icon ss-navigateright"></span></a>
        {% endif %}
        </div>
      </div>
    </div>
  </header>

  {% include "correlations/partials/happenings_year_statistics.html" %}

  <div class="happenings-list">
    <div class="container">
      {% comment %}
      <ul class="happening-month-list">
      {% for date in date_list %}
        <li><a href="#{{ date|date:"F"|lower }}">{{ date|date:"F" }}</a></li>
      {% endfor %}
      </ul>
      {% endcomment %}

      <ul class="happening-month-list">
      {% for month, days in objects.iteritems %}
        <li class="happening-month" id="{{ month|month_name|lower }}">
          <h2 class="happening-month-name">
            <span>
              {{ month|month_name }}
              <small>{{ year|date:"Y" }}</small>
            </span>
          </h2>
          <ul class="happening-date-list">
          {% for day, events in days.iteritems %}
            <li class="happening-date">
              <h3 class="happening-date-name">{{ day }}</h3>
              <ul class="happening-event-list">
              {% for event in events %}
                <li class="happening-events">{% include event.get_include_template %}</li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock content %}
