{% load static %}

{% with event.content_object as object %}
{% if event.date_field == "started" %}
<div class="happening-event">
  <strong><a href="{{ object.get_absolute_url }}">{{ object }}</a></strong> is formed
  {# Original members: {% for member in object.memberships.all reversed %}{% if member.started == object.started %}{{ member.idol }}{% include "utilities/commaify.html" %}{% endif %}{% endfor %} #}
</div>
<div class="happening-illustration">
  <div class="happening-actors">
    {% for participant in object.original_members %}<img src="{% get_media_prefix %}{{ participant.image }}">{% endfor %}
  </div>
  <div class="happening-action"><span class="ss-icon ss-scaledown"></span></div>
  <img src="{% get_media_prefix %}{{ object.image }}">
</div>
{% endif %}
{% if event.date_field == "ended" %}
<div class="happening-event">
  <strong><a href="{{ object.get_absolute_url }}">{{ object }}</a></strong> disbands
</div>
<div class="happening-illustration">
  <img src="{% get_media_prefix %}{{ object.image }}">
  <div class="happening-action"><span class="ss-icon ss-scaleup"></span></div>
</div>
{% endif %}
{% endwith %}
