{% load static %}

{% with event.content_object as object %}
{% if event.date_field == "birthdate" %}
<div class="happening-event">
  <a class="actor" href="{{ object.get_absolute_url }}">{{ object }}</a> <small>({{ object.age }})</small> is born
  {% if event.items.exists %}{% include "correlations/partials/happenings_news.html" %}{% endif %}
</div>
<div class="happening-illustration">
  <img src="{% get_media_prefix %}{{ object.image }}">
</div>
{% endif %}
{% if event.date_field == "started" %}
<div class="happening-event">
  <a class="actor" href="{{ object.get_absolute_url }}">{{ object }}</a> joins <span class="subject">Hello! Project</span>
  {% if event.items.exists %}{% include "correlations/partials/happenings_news.html" %}{% endif %}
</div>
<div class="happening-illustration">
  <img src="{% get_media_prefix %}{{ object.image }}">
  <div class="happening-action"><span class="ss-icon ss-download"></span></div>
  <div class="happening-subject hp-subject"><span>H!P</span></div>
</div>
{% endif %}
{% if event.date_field == "graduated" %}
<div class="happening-event">
  <a class="actor" href="{{ object.get_absolute_url }}">{{ object }}</a> leaves <span class="subject">Hello! Project</span>
  {% if event.items.exists %}{% include "correlations/partials/happenings_news.html" %}{% endif %}
</div>
<div class="happening-illustration">
  <img src="{% get_media_prefix %}{{ object.image }}">
  <div class="happening-action"><span class="ss-icon ss-upload"></span></div>
  <div class="happening-subject hp-subject"><span>H!P</span></div>
</div>
{% endif %}
{% if event.date_field == "retired" %}
<div class="happening-event">
  <a class="actor" href="{{ object.get_absolute_url }}">{{ object }}</a> retires from <span class="subject">show business</span>
  {% if event.items.exists %}{% include "correlations/partials/happenings_news.html" %}{% endif %}
</div>
<div class="happening-illustration">
  <img src="{% get_media_prefix %}{{ object.image }}">
  <div class="happening-action"><span class="ss-icon ss-upload"></span></div>
  <div class="happening-subject icon-subject">
    <span class="ss-icon ss-luggage"></span>
  </div>
</div>
{% endif %}
{% endwith %}
