{% load static %}

{% with event.content_object as object %}
{% if event.date_field == "started" %}
  {% if object.group.romanized_name == "Soloist" %}
  <div class="happening-event">
    <a class="actor" href="{{ object.idol.get_absolute_url }}">{{ object.idol }}</a> becomes a <span class="subject">soloist</span>
  </div>
  <div class="happening-illustration">
    <img src="{% get_media_prefix %}{{ object.idol.image }}">
    <div class="happening-action"><span class="ss-icon ss-mic"></span></div>
  </div>
  {% elif object.started != object.group.started %}
  <div class="happening-event">
    <a class="actor" href="{{ object.idol.get_absolute_url }}">{{ object.idol }}</a> joins <a class="subject" href="{{ object.group.get_absolute_url }}">{{ object.group }}</a>
  </div>
  <div class="happening-illustration">
    <img src="{% get_media_prefix %}{{ object.idol.image }}">
    <div class="happening-action"><span class="ss-icon ss-download"></span></div>
    <img src="{% get_media_prefix %}{{ object.group.image }}">
  </div>
  {% endif %}
{% endif %}
{% if event.date_field == "ended" %}
  {% if object.group.romanized_name == "Soloist" %}
  <div class="happening-event">
    <a class="actor" href="{{ object.idol.get_absolute_url }}">{{ object.idol }}</a> discontinues <span class="subject">soloist work</span>
  </div>
  <div class="happening-illustration">
    <div class="happening-actor"><img src="{% get_media_prefix %}{{ object.idol.image }}"></div>
    <div class="happening-action"><span class="ss-icon ss-ban"></span></div>
    <div class="happening-subject icon-subject">
      <span class="ss-icon ss-mic"></span>
    </div>
  </div>
  {% else %}
  <div class="happening-event">
    <a class="actor" href="{{ object.idol.get_absolute_url }}">{{ object.idol }}</a> leaves <a class="subject" href="{{ object.group.get_absolute_url }}">{{ object.group }}</a>
  </div>
  <div class="happening-illustration">
    <img src="{% get_media_prefix %}{{ object.idol.image }}">
    <div class="happening-action"><span class="ss-icon ss-upload"></span></div>
    <img src="{% get_media_prefix %}{{ object.group.image }}">
  </div>
  {% endif %}
{% endif %}
{% if event.date_field == "leadership_started" %}
<div class="happening-event">
  <a class="actor" href="{{ object.idol.get_absolute_url }}">{{ object.idol }}</a> becomes leader of <a class="subject" href="{{ object.group.get_absolute_url }}">{{ object.group }}</a>
</div>
<div class="happening-illustration">
  <img src="{% get_media_prefix %}{{ object.idol.image }}">
  <div class="happening-action"><span class="ss-icon ss-download"></span></div>
  <img src="{% get_media_prefix %}{{ object.group.image }}">
</div>
{% endif %}
{% if event.date_field == "leadership_ended" %}
<div class="happening-event">
  <a class="actor" href="{{ object.idol.get_absolute_url }}">{{ object.idol }}</a> steps down as leader of <a class="subject" href="{{ object.group.get_absolute_url }}">{{ object.group }}</a>
</div>
<div class="happening-illustration">
  <img src="{% get_media_prefix %}{{ object.idol.image }}">
  <div class="happening-action"><span class="ss-icon ss-upload"></span></div>
  <img src="{% get_media_prefix %}{{ object.group.image }}">
</div>
{% endif %}
{% endwith %}
