{% load humanize static %}
<div class="profile-image object-image"><img src="{% get_media_prefix %}{{ object.image }}"></div>

{# merchandise.music #}
{% if identifier == 'single' or identifier == 'album' %}
  {% if object.participants|length == 1 %}
    <span class="">
      <span class="ss-icon ss-music"></span>
      <a href="{{ object.participants.0.get_absolute_url }}">{{ object.participants.0 }}</a> released {% if object.number %}their {{ object.number|ordinal }} {{ identifier }}, {% endif %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>
    </span>
  {% endif %}
{% endif %}

{# people.group #}
{% if identifier == 'group' %}
  {% if field == 'started' %}
    <span class="">
      <span class="ss-icon ss-balloon"></span>
      <a href="{{ object.get_absolute_url }}">{{ object }}</a> was formed
  {% endif %}
{% endif %}

{# people.idol #}
{% if identifier == 'idol' %}
  {% if field == 'birthdate' %}
    <span class="">
      <span class="ss-icon ss-balloon"></span>
      <a href="{{ object.get_absolute_url }}">{{ object }}</a> was born
    </span>
  {% endif %}
{% endif %}

{% comment %}
{{ object }}
{{ identifier }}
{{ field }}
{{ timestamp }}

FIELDS = [
    # Positive dates.
    'birthdate',            # people.Idol
    'started',              # people.Idol, people.Group, people.Membership
    'leadership_started',   # people.Membership
    'released',             # merchandise.*

    # Negative dates.
    'graduated',            # people.Idol
    'retired',              # people.Idol
    'ended',                # people.Group, people.Membership
    'leadership_ended',     # people.Membership
]
{% endcomment %}
