{% extends "site_base.html" %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}){% endblock %}
{% block content %}

<header>
    <h1>{{ object.romanized_name }}</h1>
    <p>{{ object.name }} <span class="nicknames">(a.k.a., {{ object.nicknames }})</span></p>

    <a href="{{ object.primary_group.group.get_absolute_url }}">{{ object.primary_group.group }}</a>
    {% if object.primary_group.is_active %}
        since {{ object.primary_group.started|date:"F j, Y" }}
    {% else %}
        from {{ object.primary_group.started|date:"F j, Y" }}&ndash;{{ object.primary_group.ended|date:"F j, Y" }}
    {% endif %}

    <ul>
        <li><span>Age</span> {% firstof object.age "Unknown" %}</li>
        <li><span>Born</span> {% firstof object.birthdate|date:"F j, Y" "Unknown" %} {% if object.birthplace_romanized %}in {{ object.birthplace_romanized }}{% endif %}</li>
        <li><span>Bloodtype</span> {% firstof object.bloodtype "Unknown" %}</li>
        <li><span>Height</span> {% firstof object.height "Unknown" %}</li>
    </ul>
</header>

<ul>
    <li><strong>{{ object.singles.count }}</strong> singles</li>
    <li><strong>{{ object.albums.count }}</strong> albums</li>
</ul>

<div class="latest-releases">
    <h2>{% if object.primary_group.is_active %}Latest Album{% else %}Last Album Participated In{% endif %}</h2>
    {% with object.latest_album as album %}
    <a href="{{ album.get_absolute_url }}">{{ album }}</a>
    Released {{ album.released|date:"F j, Y" }} ({{ album.released|timesince }} ago) in {{ album.editions.count }} edition{{ album.editions.count|pluralize }}
    {% endwith %}

    <h2>{% if object.primary_group.is_active %}Latest Single{% else %}Last Single Participated In{% endif %}</h2>
    {% with object.latest_single as single %}
    <a href="{{ single.get_absolute_url }}">{{ single }}</a>
    Released {{ single.released|date:"F j, Y" }} ({{ single.released|timesince }} ago) in {{ single.editions.count }} edition{{ single.editions.count|pluralize }}
    {% endwith %}
</div>

<h2>Memberships {{ object.memberships.count }}</h2>
{% for membership in object.memberships.all %}
    {{ membership }}
    {{ membership.tenure }}
{% endfor %}

<h2>Singles {{ object.singles.count }}</h2>
<ul>
{% for release in object.singles.all %}
    <li>
        <a href="{{ release.get_absolute_url }}">{{ release.romanized_name }}</a>
        {% if release.name != relaease.romanized_name %}<small>{{ release.name }}</small>{% endif %}
        Released {{ release.released|date:"F j, Y" }} in {{ release.editions.count }} edition{{ release.editions.count|pluralize }}

        {% if release.name != relaease.romanized_name %}<small>{{ release.name }}</small>{% endif %}

        {% if release.participants|length == 1 %}
            {% for participant in release.participants %}
                {% if participant != object.primary_group.group and participant != object %}for <a href="{{ participant.get_absolute_url }}">{{ participant }}</a>{% endif %}
                {% if participant == object %}<span class="">Solo work</span>{% endif %}
            {% endfor %}
        {% else %}
            with {% for participant in release.participants %}{% if participant != object %}<a href="{{ participant.get_absolute_url }}">{{ participant }}</a>{% include "utilities/commaify.html" %}{% endif %}{% endfor %}
        {% endif %}
    </li>
{% endfor %}
</ul>

<h2>Albums {{ object.albums.count }}</h2>
<ul>
{% for release in object.albums.all %}
    <li>
        <a href="{{ release.get_absolute_url }}">{{ release.romanized_name }}</a>
        {% if release.name != relaease.romanized_name %}<small>{{ release.name }}</small>{% endif %}
        Released {{ release.released|date:"F j, Y" }} in {{ release.editions.count }} edition{{ release.editions.count|pluralize }}

        {% if release.participants|length == 1 %}
            {% for participant in release.participants %}
                {% if participant != object.primary_group.group and participant != object %}for <a href="{{ participant.get_absolute_url }}">{{ participant }}</a>{% endif %}
                {% if participant == object %}<span class="">Solo work</span>{% endif %}
            {% endfor %}
        {% else %}
            with {% for participant in release.participants %}{% if participant != object %}<a href="{{ participant.get_absolute_url }}">{{ participant }}</a>{% include "utilities/commaify.html" %}{% endif %}{% endfor %}
        {% endif %}
    </li>
{% endfor %}
</ul>

{% print object %}

{% endblock content %}
