{% if relationships.solo %}
    <span class="status-solo">(Solo Work)</span>
{% else %}
    {% if relationships.for %}
        for {% for relationship in relationships.for %}<a href="{{ relationship.get_absolute_url }}">{{ relationship }}</a>{% include "utilities/commaify.html" %}{% endfor %}
    {% endif %}
    {% if relationships.with %}
        with {% for relationship in relationships.with %}<a href="{{ relationship.get_absolute_url }}">{{ relationship }}</a>{% include "utilities/commaify.html" %}{% endfor %}
    {% endif %}
{% endif %}
