{% load static from staticfiles %}

{# Common Assets #}
<link rel="stylesheet" href="//cloud.typography.com/7547452/745842/css/fonts.css">
<link rel="stylesheet" href="//cdn.symbolset.com/281040f6cb070c591f65109e3b2849ebd52562c7/symbolset.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{# {% if debug %} #}
{# Development Assets #}
<link rel="stylesheet" href="{% static 'stylesheets/application.css' %}" data-turbolinks-track>
<script src="{% static 'javascripts/components/d3.v3.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/components/handlebars.runtime.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/components/turbolinks.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/components/jquery.turbolinks.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/components/nprogress.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/application/base.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/application/graphs.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/application/search.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/application/templates.js' %}" data-turbolinks-track></script>
{# {% else %} #}
{# Production Assets #}
{% comment %}
<link rel="stylesheet" href="{% static 'stylesheets/production.min.css' %}" data-turbolinks-track>
<script src="{% static 'javascripts/components.min.js' %}" data-turbolinks-track></script>
<script src="{% static 'javascripts/application.min.js' %}" data-turbolinks-track></script>
{% endcomment %}
{# {% endif %} #}
