<footer class="footer">
    <div class="container">
        <p class="copyright"><strong>©2013 <a href="{% url "site-home" %}">Hello! Base</a></strong></p>
        <div class="byline">
            <p class="description">This is part of a next-generation fansite brought to you by <a href="http://revyver.com" rel="external">Revyver</a>, with love.</p>
            <p class="disclaimer"><a href="http://helloproject.com" rel="external">Hello! Project</a>, its idols, groups and assorted releases are trademark <a href="http://www.up-front-works.jp/" rel="external">Up-Front Works</a>.</p>
        </div>
    </div>
</footer>
