{% extends "site_base.html" %}
{% load floppyforms %}

{% block title %}Add a Good{% endblock %}
{% block content %}
<header class="section-header">
    <div class="container">
        <div class="row">
            <h1 class="col-sm-12">Add a Good</h1>
        </div>
    </div>
</header>
<section class="form creation">
    <div class="container">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ error }}
        </div>
        {% endfor %}
        {% for error in form|hidden_field_errors %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ error }}
        </div>
        {% endfor %}

        <form action="." method="post" accept-charset="utf-8">
            {% form form using %}
            <fieldset>
                <legend>Name and Classification</legend>
                <div class="row">
                    <div class="col-sm-6">{% formrow form.romanized_name %}</div>
                    <div class="col-sm-6">{% formrow form.name %}</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">{% formrow form.category %}</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">{% formrow form.image %}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">{% formrow form.idols %}</div>
                    <div class="col-sm-6">{% formrow form.groups %}</div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Source</legend>
                <div class="row">
                    <div class="col-sm-12">{% formrow form.link %}</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">{% formrow form.event %}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">{% formrow form.shop %}</div>
                    <div class="col-sm-6">{% formrow form.online_id %}</div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Availability</legend>
                <div class="row">
                    <div class="col-sm-4">{% formrow form.available_from %}</div>
                    <div class="col-sm-4">{% formrow form.available_until %}</div>
                    <div class="col-sm-4">
                        <label for="{{ form.price|id }}">{{ form.price.label }}</label>
                        <div class="input-group">
                            <span class="input-group-addon">¥‎</span>
                            {% formfield form.price %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Other Information</legend>
                <div class="row">
                    <div class="col-sm-12">{% formrow form.parent %}</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">{% formrow form.other_info %}</div>
                </div>
            </fieldset>
            {% endform %}
            {% csrf_token %}
            <button class="button" type="submit">Submit Good</button>
        </form>
    </div>
</section>
{% endblock content %}
