{% extends "site_base.html" %}
{% load floppyforms %}

{% block content %}
<section class="form creation">
    <div class="container">
        <h1>Add a good.</h1>
        <form action="." method="post" accept-charset="utf-8">
            {% form form using %}
            <fieldset>
                <legend>Name and Classification</legend>
                <div class="row">
                    <div class="col-lg-4">{% formrow form.romanized_name %}</div>
                    <div class="col-lg-4">{% formrow form.name %}</div>
                </div>
                <div class="row">
                    <div class="col-lg-8">{% formrow form.category %}</div>
                </div>
                <div class="row">
                    <div class="col-lg-8">{% formrow form.image %}</div>
                </div>
                <div class="row">
                    <div class="col-lg-4">{% formrow form.idols %}</div>
                    <div class="col-lg-4">{% formrow form.groups %}</div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Source</legend>
                <div class="row">
                    <div class="col-lg-8">{% formrow form.event %}</div>
                </div>
                <div class="row">
                    <div class="col-lg-3">{% formrow form.shop %}</div>
                    <div class="col-lg-3">{% formrow form.link %}</div>
                    <div class="col-lg-2">{% formrow form.online_id %}</div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Availability</legend>
                <div class="row">
                    <div class="col-lg-3">{% formrow form.available_from %}</div>
                    <div class="col-lg-3">{% formrow form.available_until %}</div>
                    <div class="col-lg-2">
                        <label for="{{ form.price|id }}">{{ form.price.label }}</label>
                        <div class="input-group">
                            <span class="input-group-addon">¥‎</span>
                            {% formfield form.price %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Other Information</legend>
                <div class="row">
                    <div class="col-lg-8">{% formrow form.parent %}</div>
                </div>
                <div class="row">
                    <div class="col-lg-8">{% formrow form.other_info %}</div>
                </div>
            </fieldset>
            {% endform %}
            {% csrf_token %}
            <button class="button" type="submit">Submit Good</button>
        </form>
    </div>
</section>
{% endblock content %}
