<li class="participation-card album-card">
  <div class="card-statistic">
    <h3 class="card-type"><span class="ss-icon ss-music"></span> <span>Albums</span></h3>
    <span class="count">{{ albums|length }}</span>
  </div>
  <div class="card-example">
    {% with object.latest_album as release %}
    <div class="example-heading"><span class="pill">{% if object.primary_membership.is_active or object.is_active %}Latest{% else %}Last{% endif %}</span></div>
    {% if release %}
    <a href="{{ release.get_absolute_url }}">{{ release }}</a>
    <div class="example-subtext">
      <div class="release-data release-date">
        <time datetime="{{ release.released|date:"c" }}"><span class="ss-icon ss-calendar"></span> <b>{{ release.released|date:"SHORT_DATE_FORMAT" }}</b></time>
        <time datetime="{{ release.released|date:"c" }}/{% now "c" %}" class="timesince">({{ release.released|timesince }} ago)</time>
      </div>
      <div class="release-data release-editions">
        <span class="ss-icon ss-disc"></span> <b>{{ release.editions.count }}</b> edition{{ release.editions.count|pluralize }}
      </div>
    </div>
    {% else %}
    <div class="example-subtext card-empty">
      {{ object }}
      {% if object.primary_membership.is_active or object.is_active %}
        hasn't released any albums.
      {% else %}
        hasn't released any albums.
      {% endif %}
    </div>
    {% endif %}
    {% endwith %}
  </div>
</li>
