{% load humanize music_tags static typogrify_tags %}

<li class="release {% if release.number %}major{% else %}minor{% endif %}{% if release.is_indie %}indie{% endif %}-release">
  <div class="release-image object-image">
    {% url 'image-detail' release.art|urlencode as image_detail_url %}
    {% if release.art %}<a href="{{ image_detail_url }}" target="_blank"><img src="{% get_media_prefix %}{{ release.art_thumbnail }}" width="60"></a>{% else %}<div class="empty-image"><span class="ss-icon ss-disc"></span></div>{% endif %}
    {% if release.number %}<span class="release-number">{{ release.number|ordinal }}</span>{% endif %}
  </div>
  <div class="release-meta">
    <div class="release-header">
      {% if release.is_compilation %}<span class="pill compilation">Compilation</span>{% endif %}
      <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name }}</span></a>
      <span class="name">{{ release.name }}</span>
      {% contextual_participants release=release context=object %}
    </div>
    <div class="release-subtext">
      <div class="release-data release-date">
        <time datetime="{{ release.released|date:"c" }}"><span class="ss-icon ss-calendar"></span> <b>{{ release.released|date }}</b></time>
        <time datetime="{{ release.released|date:"c" }}/{% now "c" %}" class="timesince">({{ release.released|timesince }} ago)</time>
      </div>
      <div class="release-data release-editions">
        <span class="ss-icon ss-disc"></span> <b>{{ release.editions.count }}</b> edition{{ release.editions.count|pluralize }}
      </div>
    </div>
  </div>
</li>
