{% load typogrify_tags %}

<div class="release-image"></div>
<div class="release-metadata">
  <div class="release-names">
    <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name|typogrify }}</span></a>
    <span class="name">{{ release.name }}</span>
  </div>
  <div class="release-data release-date">
    <time datetime="{{ release.released|date:"c" }}"><span class="ss-icon ss-calendar"></span> <b>{{ release.released|date:"Y/m/d" }}</b></time>
    <time datetime="{{ release.released|date:"c" }}/{% now "c" %}">({{ release.released|timesince }} ago)</time>
  </div>
  <div class="release-data release-editions">
    <span class="ss-icon ss-disc"></span> <b>{{ release.editions.count }}</b> edition{{ release.editions.count|pluralize }}
  </div>
</div>
