{% extends "layouts/site_base.html" %}
{% load humanize markdown_deux_tags typogrify_tags people_tags static %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}) &middot; Albums{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ object.romanized_name }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% get_media_prefix %}{{ object.art }}">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile music-profile" itemscope itemtype="http://schema.org/MusicAlbum">
  <meta content="{{ object.get_absolute_url }}" itemprop="url">

  <div class="profile-masthead"></div>
  <header class="profile-header">
    <div class="container">
      <div class="profile-metadata">
        <h1 class="profile-name">
          <span class="name">{{ object.name }}</span>
          <span class="romanized-name" itemprop="name">{{ object.romanized_name }}</span>
        </h1>
      </div>
      {% if fact %}
      <div class="profile-note profile-status-{{ object.get_status_display|lower }}">
        <h4>{# <span class="ss-icon ss-notepad"></span> #} Random Fact</h4>
        {{ fact.body|markdown|typogrify }}
      </div>
      {% endif %}
    </div>
  </header>

  {% if object.get_previous or object.get_next %}
  <nav class="profile-navigation">
    <div class="container">
      {% if object.get_previous %}<div class="navigation-item navigation-previous"><a href="{{ object.get_previous.get_absolute_url }}"><span class="ss-icon ss-navigateleft"></span> {{ object.get_previous|truncatechars:72 }}</a></div>{% endif %}
      {% if object.get_next %}<div class="navigation-item navigation-next"><a href="{{ object.get_next.get_absolute_url }}">{{ object.get_next|truncatechars:72 }} <span class="ss-icon ss-navigateright"></span></a></div>{% endif %}
    </div>
  </nav>
  {% endif %}

  <div class="profile-content">
    <aside class="profile-vitals">
      <div class="container">
        <ul class="vitals-list">
          {% filter typogrify %}
          <li class="vital vital-by">
            <span class="vital-label"><span class="ss-icon ss-users"></span>{% if not object.number %} by{% endif %}</span>&nbsp;
            <div class="vital-participants">
            {% for participant in object.participants %}
              <a class="participant" href="{{ participant.get_absolute_url }}" itemprop="byArtist" itemscope itemtype="http://schema.org/MusicGroup">
                <span itemprop="name">{% designation_for target=participant target_date=object.released %}</span>{% if object.number %}'s{% endif %}
              </a>
              {% include "utilities/commaify.html" %}
            {% endfor %}
            {% if object.number %}<span class="number"><b>{{ object.number|ordinal }} {{ object.identifier }}</b></span>{% endif %}
            {% if object.romanized_released_as %}<div class="released-as">released as <em>{{ object.romanized_released_as }} ({{ object.released_as }})</em></div>{% endif %}
            </div>
          </li>
          <li class="vital vital-released"><span class="vital-label"><span class="ss-icon ss-calendar"></span> Released</span> <time datetime="{{ object.released|date:"c" }}" itemprop="dateCreated">{{ object.released | date:"F j, Y" }}</time></li>
          <li class="vital vital-editions"><span class="vital-label"><span class="ss-icon ss-disc"></span> Editions</span> {{ editions|length }}</li>
          {% endfilter %}
        </ul>
      </div>
    </aside>
  </div>

  <div class="container">
    <div class="editions">
      <h2 class="section-title"><span class="ss-icon ss-disc"></span> Editions</h2>
      <ul class="edition-list">
      {% for edition in editions %}
        <li class="edition">
          <div class="edition-image object-image">
            {% url 'image-detail' edition.art|urlencode as image_detail_url %}
            {% if edition.art %}<a href="{{ image_detail_url }}" target="_blank"><img src="{% get_media_prefix %}{{ edition.art_thumbnail }}"></a>{% else %}<div class="empty-image"><span class="ss-icon ss-disc"></span></div>{% endif %}
          </div><!-- .edition-image -->
          <div class="edition-contents">
            <table>
              <thead>
                <tr class="edition-meta">
                  <td class="edition-name" colspan="2">
                      <span class="romanized-name">{{ edition.romanized_name }}</span>
                      <span class="name">{{ edition.name }}</span>
                  </td>
                  <td class="edition-subtext" colspan="1">
                    <span class="edition-released"><span class="ss-icon ss-calendar"></span> <b>{{ edition.released | date:"Y/m/d" }}</b></span>
                    <span class="edition-number">{% if edition.price %}&yen;{{ edition.price }} / {% endif %}{{ edition.catalog_number }}</span>
                  </td>
                </tr><!-- .edition-meta -->
              </thead>
              {% if edition.tracklist %}
              <tbody class="tracklist music-list">
                <tr><th class="tracklist-heading" colspan="3"><span class="ss-icon ss-music"></span> Tracklist</th></tr>
                {% for position in edition.tracklist %}
                <tr class="track {% if position.is_instrumental %}instrumental{% endif %}" itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
                  <td class="track-number"><span class="pill number">{{ position.position }}</span></td>
                  <td class="track-name">
                    <a href="{{ position.track.get_absolute_url }}">
                      <span class="romanized-name" itemprop="name">
                        {{ position.track.romanized_name }}
                        {% if position.track.is_alternate or position.track.is_cover %}<span class="">{{ position.track.romanized_name_alternate }}</span>{% endif %}
                        {% if position.is_instrumental %}<span class="">(Instrumental)</span>{% endif %}
                      </span>
                    </a>
                    <span class="name">
                      {{ position.track.name }}
                      {% if position.track.is_alternate %}<span class="">{{ position.track.name_alternate }}</span>{% endif %}
                      {% if position.is_instrumental %}<span class="">(Instrumental)</span>{% endif %}
                    </span>
                    {% if position.track.romanized_released_as and object.romanized_released_as != position.track.romanized_released_as %}
                    <div class="track-participants">as {{ position.track.romanized_released_as }} ({{ position.track.released_as }})</div>
                    {% endif %}
                    {% with position.track.participating_idols.all as participating_idols %}
                    {% if participating_idols and object.participating_groups.exists %}
                    <div class="track-participants">
                    {% for idol in participating_idols %}
                      <a href="{{ idol.get_absolute_url }}">{{ idol }}</a>{% include "utilities/commaify.html" %}
                    {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                  </td>
                  <td class="track-type">
                    {% if position.track.is_cover %}<span class="pill cover">Cover</span>{% endif %}
                    {% if position.is_aside %}<span class="pill aside">A-side</span>{% endif %}
                    {% if position.is_bside %}<span class="pill bside">B-side</span>{% endif %}
                    {% if position.is_album_only %}<span class="pill album">Album only</span>{% endif %}
                  </td>
                </tr><!-- .tracklist -->
                {% endfor %}
              </tbody><!-- .tracklist -->
              {% endif %}
              {% if edition.video_order.exists %}
              <tbody class="tracklist video-list">
                <tr><th class="tracklist-heading" colspan="3"><span class="ss-icon ss-video"></span> DVD Tracklist</th></tr>
                {% for position in edition.video_order.all %}
                <tr class="track">
                  <td class="track-number"><span class="pill number">{{ position.position }}</span></td>
                  <td class="track-name">
                    <span class="romanized-name">{{ position.video.romanized_name }}</span>
                    <span class="name">{{ position.video.name }}</span>
                  </td>
                  <td class="track-type">{% if position.video.rendered_kind_display %}<span class="pill">{{ position.video.rendered_kind_display }}</span>{% endif %}</td>
                </tr>
                {% endfor %}
              </tbody><!-- .tracklist -->
              {% endif %}
            </table>
          </div><!-- .edition-contents -->
        </li><!-- .edition -->
      {% endfor %}
      </ul><!-- .edition-list -->
    </div><!-- .editions -->
    <div class="participations">
      <h2 class="section-title"><span class="ss-icon ss-users"></span> Participants</h2>
      <p class="subtext"><em>{{ idols|length }} idols</em> participated in this {{ object.identifier }}. They are listed below alongside their age at the time of release, starting from the oldest.</p>
      <ul class="participant-list">
      {% for idol in idols %}
        <li class="participant">
          <a href="{{ idol.get_absolute_url }}">{{ idol }} ({{ idol.birthdate|age:object.released }})</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

</section>
{% endblock content %}
