{% extends "site_base.html" %}
{% load humanize %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}){% endblock %}
{% block content %}

<div class="metadata">
    {% for participant in object.participants %}<a class="participant" href="{{ participant.get_absolute_url }}">{{ participant }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    {% if object.number %}<span class="number">{{ object.number | ordinal }} Single</span>{% endif %}
</div>

<header>
    <h1>{{ object.romanized_name }}</h1>
    <p>{{ object.name }}</p>

    <div class="date">{{ object.released|date:"F j, Y" }}</div>
</header>

<div class="editions">
    {{ object.editions.count }} edition{{ object.editions.count | pluralize }}
    <ul>
    {% for edition in object.editions.all %}
        <li>
            <h2>{{ edition.romanized_name }}</h2>
            {{ edition.released }}
            {{ edition.catalog_number }}

            <ol>
            {% for position in edition.tracklist %}
                <li>
                    <span class="side {% if position.is_aside %}a{% endif %}{% if position.is_bside %}b{% endif %}">
                        {% if position.is_aside %}A{% endif %}
                        {% if position.is_bside %}B{% endif %}
                    </span>
                    {{ position.track.romanized_name }} {% if position.is_instrumental %}(Instrumental){% endif %}
                    <small>({{ position.track.name }})</small>
                </li>
            {% endfor %}
            </ol>

            <ol>
            {% for video in edition.videos.all %}
                <li>{{ video.romanized_name }}</li>
            {% endfor %}
            </ol>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock content %}
