{% extends "layouts/site_base.html" %}
{% load markup %}
{% load people_tags %}
{% load typogrify_tags %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}) &middot; Tracks{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ object.romanized_name }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{{ MEDIA_URL }}{{ object.appearances.debut.art_thumbnail }}">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile music-profile">
  <meta content="{{ object.get_absolute_url }}">

  <div class="profile-masthead"></div>
  <header class="profile-header">
    <div class="container">
      <div class="profile-metadata">
        {# <div class="profile-image"></div> #}
        <h1 class="profile-name">
          <span class="name">{{ object.name }}</span>
          <span class="romanized-name" itemprop="name">{{ object.romanized_name }}</span>
        </h1>
      </div>
    </div>
  </header>

  <div class="profile-content">
    <aside class="profile-vitals">
      <div class="container">
        <ul class="vitals-list">
          {% filter typogrify %}
          <li class="vital vital-by">
            <span class="vital-label"><span class="ss-icon ss-users"></span>{% if object.participants|length > 1 %} by{% endif %}</span>&nbsp;
            <div class="vital-participants">
            {% for participant in object.participants %}
              <a class="participant" href="{{ participant.get_absolute_url }}" itemprop="byArtist" itemscope itemtype="http://schema.org/MusicGroup"><span itemprop="name">{{ participant }}</span>{% if object.number %}'s{% endif %}</a>{% include "utilities/commaify.html" %}
            {% endfor %}
            </div>
          </li>
          {% endfilter %}
        </ul>
      </div>
    </aside>

    <div class="profile-participations">
      <div class="container">
        <ul>
        {% if object.composers %}
          <li>Composition by:
          {% for person in object.composers.all %}
            <a href="{% url 'search' %}?q={{ person.romanized_name }}">{{ person.romanized_name }}</a> ({{ person.name }}){% include "utilities/commaify.html" %}
          {% endfor %}
          </li>
        {% endif %}
        {% if object.lyricists %}
          <li>Lyrics by:
          {% for person in object.lyricists.all %}
            <a href="{% url 'search' %}?q={{ person.romanized_name }}">{{ person.romanized_name }}</a> ({{ person.name }}){% include "utilities/commaify.html" %}
          {% endfor %}
          </li>
        {% endif %}
        {% if object.composers %}
          <li>Arranged by:
          {% for person in object.arrangers.all %}
            <a href="{% url 'search' %}?q={{ person.romanized_name }}">{{ person.romanized_name }}</a> ({{ person.name }}){% include "utilities/commaify.html" %}
          {% endfor %}
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="profile-appearances">
    <div class="container">
      <h1 class="section-title">Appearances <span class="count">{{ object.appearances.count }}</span></h1>
      <div class="appearances">
        <table>
          <thead>
            <tr class="appearance-meta">
              <!-- -->
            </tr>
          </thead>
          <tbody>
          {% with object.appearances.debut as release %}
          <tr>
            <td class="appearance-image" rowspan="2">
              <div class="release-image">
                {% if release.art %}<img src="{{ MEDIA_URL }}{{ release.art_thumbnail }}" width="71">{% else %}<div class="empty-image"><span class="ss-icon ss-disc"></span></div>{% endif %}
              </div>
            </td>
            <td class="appearance-name">
              <a href="{{ release.get_absolute_url }}">
                <span class="romanized-name">{{ release.romanized_name }}</span>
                <span class="name">{{ release.name }}</span>
              </a>
            </td>
            <td class="appearance-alternate">
            {% if object.romanized_name_alternate %}
              as
              <span class="romanized-name">{{ object.romanized_name }} {{ object.romanized_name_alternate }}</span>
              <span class="name">{{ object.name }} {{ object.name_alternate }}</span>
            {% endif %}
            </td>
            <td class="appearance-data">
              <time datetime="{{ release.released|date:"c" }}">{{ release.released|date:"F j, Y" }}</time>
              <time datetime="{{ release.released|date:"c" }}/{% now "c" %}" class="timesince">({{ release.released|timesince }} ago)</time>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="appearance-participants">
              <div class="participants">
                <span class="ss-icon ss-usergroup"></span> {% for idol in object.idols.all %}<a href="{{ idol.get_absolute_url }}">{{ idol }}</a>{% include "utilities/commaify.html" %}{% endfor %}
              </div>
            </td>
          </tr>
          {% endwith %}
          {% for release, track in object.appearances.children %}
          <tr>
            <td class="appearance-image" rowspan="2">
              <div class="release-image">
                {% if release.art %}<img src="{{ MEDIA_URL }}{{ release.art_thumbnail }}" width="71">{% else %}<div class="empty-image"><span class="ss-icon ss-disc"></span></div>{% endif %}
              </div>
            </td>
            <td class="appearance-name">
              <a href="{{ release.get_absolute_url }}">
                <span class="romanized-name">{{ release.romanized_name }}</span>
                <span class="name">{{ release.name }}</span>
              </a>
            </td>
            <td class="appearance-alternate">
              as
              <span class="romanized-name">{{ track.romanized_name }} {{ track.romanized_name_alternate }}</span>
              <span class="name">{{ track.name }} {{ track.name_alternate }}</span>
            </td>
            <td class="appearance-data">
              <time datetime="{{ release.released|date:"c" }}">{{ release.released|date:"F j, Y" }}</time>
              <time datetime="{{ release.released|date:"c" }}/{% now "c" %}" class="timesince">({{ release.released|timesince }} ago)</time>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="appearance-participants">
              <div class="participants">
                <span class="ss-icon ss-usergroup"></span> {% for idol in track.idols.all %}<a href="{{ idol.get_absolute_url }}">{{ idol }}</a>{% include "utilities/commaify.html" %}{% endfor %}
              </div>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="lyrics">
    <div class="container">
    {% if object.romanized_lyrics %}
      <h1 class="section-title">Romanized Lyrics</h1>
      <p>
        {{ object.romanized_lyrics|markdown }}
      </p>
    {% endif %}

    {% if object.lyrics %}
      <h1 class="section-title">Lyrics</h1>
      <p>
        {{ object.lyrics|markdown }}
      </p>
    {% endif %}

    {% if object.translated_lyrics %}
      <h1 class="section-title">Translated Lyrics</h1>
      <p>
        {{ object.translated_lyrics|markdown }}
      </p>
    {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
