{% extends "base.html" %}

{% block title %}Lyrics for {{ object.romanized_name }} ({{ object.name }}) &middot; Tracks{% endblock %}
{% block meta %}
  {{ block.super }}
  <meta name="viewport" content="width=device-width, minimal-ui">
{% endblock %}
{% block page %}
<header class="lyrics-header">
  <div class="lyrics-metadata">
    <span class="name">{{ object.name }}</span>
    <span class="romanized-name">{{ object.romanized_name }}</span>
  </div>
  <nav>
    <a href="{{ object.get_absolute_url }}">{{ object.romanized_name }} on Hello! Base &rarr;</a>
  </nav>
</header>
<div class="lyrics-list">
  {% if object.romanized_lyrics %}
  <div class="lyrics lyrics-romanized">
    <h2>Romanized</h2>
    {{ object.processed_romanized_lyrics|safe }}
  </div>
  {% endif %}
  {% if object.lyrics %}
  <div class="lyrics lyrics-orignal">
    <h2>Native</h2>
    {{ object.processed_lyrics|safe }}
  </div>
  {% endif %}
  {% if object.translated_lyrics %}
  <div class="lyrics lyrics-translated">
    <h2>Translated</h2>
    {{ object.processed_translated_lyrics|safe }}
  </div>
  {% endif %}
</div>
{% endblock page %}
