{% extends "layouts/site_base.html" %}
{% load markup %}
{% load people_tags %}
{% load typogrify_tags %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}) &middot; Tracks{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ object.romanized_name }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile music-profile">
  <meta content="{{ object.get_absolute_url }}">

  <div class="profile-masthead"></div>
  <header class="profile-header">
    <div class="container">
      <div class="profile-metadata">
        {# <div class="profile-photo"></div> #}
        <h1 class="profile-name">
          <span class="name">{{ object.name }}</span>
          <span class="romanized-name" itemprop="name">{{ object.romanized_name }}</span>
        </h1>
      </div>
    </div>
  </header>

  <div class="profile-content">
    <aside class="profile-vitals">
      <div class="container">
        <ul class="vitals-list">
          {% filter typogrify %}
          <li class="vital vital-by">
            <span class="vital-label"><span class="ss-icon ss-users"></span>{% if object.participants|length > 1 %} by{% endif %}</span>&nbsp;
            <div class="vital-participants">
            {% for participant in object.participants %}
              <a class="participant" href="{{ participant.get_absolute_url }}" itemprop="byArtist" itemscope itemtype="http://schema.org/MusicGroup"><span itemprop="name">{{ participant }}</span>{% if object.number %}'s{% endif %}</a>{% include "utilities/commaify.html" %}
            {% endfor %}
            </div>
          </li>
          {% endfilter %}
        </ul>
      </div>
    </aside>

    <div class="profile-participations">
      <div class="container">
        <ul>
        {% if object.composers %}
          <li>Composition by:
          {% for person in object.composers.all %}
            <a href="{% url 'search' %}?q={{ person.romanized_name }}">{{ person.romanized_name }}</a> ({{ person.name }}){% include "utilities/commaify.html" %}
          {% endfor %}
          </li>
        {% endif %}
        {% if object.lyricists %}
          <li>Lyrics by:
          {% for person in object.lyricists.all %}
            <a href="{% url 'search' %}?q={{ person.romanized_name }}">{{ person.romanized_name }}</a> ({{ person.name }}){% include "utilities/commaify.html" %}
          {% endfor %}
          </li>
        {% endif %}
        {% if object.composers %}
          <li>Arranged by:
          {% for person in object.arrangers.all %}
            <a href="{% url 'search' %}?q={{ person.romanized_name }}">{{ person.romanized_name }}</a> ({{ person.name }}){% include "utilities/commaify.html" %}
          {% endfor %}
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="profile-appearances">
    <div class="container">
      <p>This song appears on <em>{{ object.appearances.count }} release{{ object.appearances.count|pluralize }}</em>.</p>
      <ul class="appearance-list">
      {% with object.appearances.debut as release %}
        <li class="appearance">
          <div class="appearance-image">
            <img src="{{ MEDIA_URL }}{{ release.art_thumbnail }}">
          </div>
          <div class="appearance-meta">
            <div class="appearance-header">
              <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name }}</span></a>
            </div>
            {{ release.released }}
            <ul>
            {% for idol in object.idols.all %}
              <li class="participant">
                <a href="{{ idol.get_absolute_url }}">{{ idol }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </li>
      {% endwith %}
      {% for release, track in object.appearances.children %}
        <li class="appearance">
          <div class="appearance-image">
            <img src="{{ MEDIA_URL }}{{ release.art_thumbnail }}">
          </div>
          <div class="appearance-meta">
            <div class="appearance-header">
              <a href="{{ release.get_absolute_url }}"><span class="romanized-name">{{ release.romanized_name }}</span></a> as <span class="romanized-name">{{ track.romanized_name }} {{ track.romanized_name_alternate }}</span>
            </div>
            {{ release.released }}
            <ul>
            {% for idol in track.idols.all %}
              <li class="participant">
                <a href="{{ idol.get_absolute_url }}">{{ idol }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="lyrics">
    <div class="container">
    {% if object.romanized_lyrics %}
      <h2>Romanized Lyrics</h2>
      <p>
        {{ object.romanized_lyrics|markdown }}
      </p>
    {% endif %}

    {% if object.lyrics %}
      <h2>Lyrics</h2>
      <p>
        {{ object.lyrics|markdown }}
      </p>
    {% endif %}

    {% if object.translated_lyrics %}
      <h2>Translated Lyrics</h2>
      <p>
        {{ object.translated_lyrics|markdown }}
      </p>
    {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
