.footer {
  border-top: 1px solid $brand-paleGrey;
  margin-top: 1em;

  a {
    @include link-colors($brand-lightGrey, $brand-blue);
    font-style: italic;
  }
  p {
    color: $brand-lightGrey;
    font-size: 11px;
  }

  .container { padding-top: 2em; padding-bottom: 2em; }
  .copyright { @include span-columns(6, $total-columns); }
  .description { @include span-columns(3, $total-columns); }
  .disclaimer { @include span-columns(3 omega, $total-columns); }
}
