.header {
  padding: 12px inherit;

  a {
    @include link-colors(#FFF);
    text-decoration: none;
  }
  .container { }
}
.header-logo-wordmark {
  .hicon-logo-hello,
  .hicon-logo-base {
    color: #333;
    font-size: 26px;
    padding-top: 2px;
  }
  .hicon-logo-base { padding-left: 2px; }
}
.header-tagline {
  display: inline-block;
  margin-top: 0; margin-bottom: 0; margin-left: 6px;
  color: rgba(#FFF, 0.6);
  font-size: 12px;
  font-style: italic;
  vertical-align: 4px;
}
