.landing {}
.landing-home {
  .header {
    padding-top: 14px; padding-bottom: 14px;
    background-color: #232B2D; }
}

.tagline, .hero-search, .examples {
  @include span-columns(8, $total-columns);
  @include squish(2, 2);
}

.landing-home .hero {
  padding-top: 24px; padding-bottom: 72px;

  background-color: #232B2D;
  color: #FFF;

  a {
    @include link-colors(#FFF);
    font-weight: 700;
  }
  .tagline {
    margin-bottom: 0.5em;

    font-size: 48px;
    font-weight: 200;
    letter-spacing: -2px;
    line-height: normal;
  }
}

.hero-search {
  padding: 4px 4px 2px;
  border-radius: 4px;
  background-color: #FFF;

  input {
    @include span-columns(6, 8);
    padding: 9px 12px 10px;

    border: none;
    font-size: 18px;

    &:focus { outline: none; }
  }
  button {
    @include span-columns(2 omega, 8);
    padding: 13px 15px 10px;

    background-color: $brand-green;
    border: none;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.examples {
  padding: 1em 0;

  color: rgba(#FFF, 0.75);
  font-size: 13px;
  text-align: center;
}

.reasonings {
  @include reset-list-style;
  margin-top: 0; margin-bottom: 0;
  padding-top: 48px; padding-bottom: 48px;
}
.reasoning {
  @include span-columns(4, $total-columns);
  @include nth-omega(3n);
  @include prefix(1);
  position: relative;
  color: #666;
  font-size: 13px;

  a {
    @include link-colors(#333, $brand-green);
    font-weight: 700;
  }
  h2 {
    color: #333;
    min-height: 38px;
    font-size: 18px;
    font-weight: 300;
  }
  .ss-icon {
    position: absolute;
    top: 18px; left: 0;
    color: #333;
    font-size: 48px;
  }
}
