@import "compass/css3/user-interface";

// Layout & Widths
.editions { @include span-columns(9 , 12); }
.participations { @include span-columns(3 omega, 12); }

.edition-image { @include span-columns(2, 9); height: 146px; }
.edition-contents { @include span-columns(7 omega, 9); }
.edition-contents table { width: 100%; }

.music-profile {
  .masthead {
    background-color: #0B3859;
    padding-top: 36px; padding-bottom: 36px;
  }

  .romanized-name { }
  .name {
    display: block;
    color: $brand-lightGrey;
    font-size: 12px;
  }
}

.release-romanized-name {
  margin: 0;

  color: #FFF;
  font-weight: 200;
  letter-spacing: -1px;
}
.release-name {
  margin: 0;
}

.edition {
  @include clearfix;
  margin-bottom: 36px;
}
.edition-meta {
  @include clearfix;
  color: $brand-medGrey;
}
.edition-name {
  margin: 0;
  height: 54px;
  padding-bottom: 12px;
  vertical-align: top;

  color: $brand-darkGrey;
  font-size: 18px;
  font-weight: 600;
  line-height: $headings-line-height;

  .romanized-name {
    display: block;
    padding-top: 3px;
  }
  .name { padding-top: 3px; }
}
.edition-subtext {
  text-align: right;
  vertical-align: top;
  width: 184px;
}
.edition-released,
.edition-number {
  color: $brand-lightGrey;
  display: block;
  font-size: 12px;
}

.tracklist-heading {
  padding: 12px 0;

  border-top: 1px solid $brand-paleGrey;
  color: $brand-medGrey;
  font-family: $font-family-secondary;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  .ss-icon {
    position: relative; top: 1px;
    margin-right: 2px;
  }
}

.track {
  padding: 6px 0;

  td { vertical-align: top; }
  .track-name { padding-bottom: 6px; }
  &:last-child .track-name { padding-bottom: 12px; }
  &.instrumental * { opacity: 0.75; }
}

.track-number {
  font-family: $font-family-secondary;
  width: 30px;

  .pill {
    display: block;
    margin-right: 6px;
    padding: 3px 6px;

    background: #FFF;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px $brand-paleGrey;
    color: $brand-medGrey;
    font-family: $font-family-secondary;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
  }
}

.track-type {
  @include user-select(none);
  text-align: right;

  .pill {
    margin-left: 6px;
    padding: 4px 6px;

    background: $brand-medGrey;
    border-radius: 3px;
    color: #FFF;
    font-family: $font-family-secondary;
    font-size: 10px;
    font-weight: 600;

    .video-list &,
    &.cover {
      background: #FFF;
      box-shadow: inset 0 0 0 1px $brand-paleGrey;
      color: $brand-medGrey;
    }
  }
  .pill.aside { background: #FF804F; }
  .pill.bside { background: #FFCC5E; }
}

.participant {
  font-size: 13px;

  .age {
    float: right;
    font-weight: 600;
  }
}
