// Layout & Widths
.editions { @include span-columns(9 , 12); }
.participations { @include span-columns(3 omega, 12); }

.edition-image { @include span-columns(2, 9); height: 146px; }
.edition-name { @include span-columns(4, 7); }
.edition-subtext { @include span-columns(3 omega, 7); }
.edition-contents { @include span-columns(7 omega, 9); }

.music-profile {
  .masthead {
    background-color: $brand-lightGrey;
    padding-top: 36px; padding-bottom: 36px;
  }

  .romanized-name { }
  .name {
    display: block;
    color: $brand-lightGrey;
    font-size: 12px;
  }
}

.release-romanized-name {
  margin: 0;

  color: #FFF;
  font-weight: 200;
  letter-spacing: -1px;
}
.release-name {
  margin: 0;
}

.edition {
  @include clearfix;
  margin-bottom: 36px;
}

.edition-meta {
  @include clearfix;
  color: $brand-medGrey;
}
.edition-subtext {
  text-align: right;
}
.edition-name {
  color: $brand-darkGrey;
  font-size: 18px;
  margin: 0;
}

.edition-released,
.edition-number {
  display: block;
  font-size: 12px;
}

.tracklist-heading {
  display: none;
  margin: 0;
  font-size: 14px;
}
.tracklist {
  @include reset-list-style;
  @include reset-box-model;

  // border-top: 1px solid $brand-paleGrey;
  padding: 12px 0;
}

.track {
  border-top: 1px solid $brand-paleGrey;
  padding: 6px 0;
}
.track.instrumental * {
  opacity: 0.5;
}

.track-number {
  display: inline-block;
//   padding: 3px 4px 1px;
//   width: 20px;

//   // box-shadow: inset 0 0 0 1px $brand-lightGrey;
//   background-color: $brand-lightGrey;
//   border-radius: 3px;
//   // color: $brand-medGrey;
//   color: #FFF;
//   font-size: 12px;
//   font-weight: bold;
//   text-align: center;
}

.track-side,
.track-type {
  font-family: $font-family-secondary;
  font-size: 11px;
  float: right;
}
