{% load static people_tags %}

{% with event.content_object as object %}
<div class="happening-event" data-event="{{ object.released }}">
  {% for participant in object.participants %}
    <a class="actor" href="{{ participant.get_absolute_url }}">{% romanized_designation_for target=participant target_date=object.released %}</a>{% include "utilities/commaify.html" %}
  {% endfor %} releas{{ object.participants|length|pluralize:"es,e" }} <a class="subject" href="{{ object.get_absolute_url }}">"{{ object }}"</a>
  {% if event.items.exists %}{% include "correlations/partials/happenings_news.html" %}{% endif %}
</div>
<div class="happening-illustration">
  <div class="happening-actors">
    {% for participant in object.participants %}<div class="happening-image">{% if participant.image %}<img src="{% get_media_prefix %}{{ participant.image }}">{% endif %}</div>{% endfor %}
  </div>
  <div class="happening-action"><span class="ss-icon ss-disc"></span></div>
  <div class="happening-image">{% if object.art_square %}<img src="{% get_media_prefix %}{{ object.art_square }}">{% endif %}</div>
</div>
{% endwith %}
