{% load static %}

{% with result.object as object %}
<div class="result-item people idol">
  <div class="item-image">
    {% if object.photo_thumbnail %}<img src="{% get_media_prefix %}{{ object.photo_thumbnail }}">{% else %}<div class="empty-image"><span class="ss-icon ss-user"></span></div>{% endif %}
  </div>
  <div class="item-object">
    <a href="{{ object.get_absolute_url }}">
      <span class="item-romanized-name">{{ object.romanized_name }}{% if object.romanized_alias %} ({{ object.romanized_alias }}){% endif %}</span>
      <span class="item-name">{{ object.name }}{% if object.alias %} ({{ object.alias }}){% endif %}</span>
    </a>
  </div>
  <div class="item-meta">
    {% if object.primary_membership %}
    <div class="item-standing">
      {% with object.primary_membership as primary %}
      <a href="{{ primary.group.get_absolute_url }}">{{ primary.standing }}{% if primary.group.romanized_name != "Soloist" %} of {{ primary.group }}{% endif %}</a>
      {% endwith %}
    </div>
    {% endif %}
    {% if object.birthdate %}<div class="item-type">{{ object.age }} years old</div>{% endif %}
  </div>
</div>
{% endwith %}
