{% extends "layouts/site_base.html" %}
{% load humanize %}
{% load typogrify_tags %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}) &middot; Groups{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ object.romanized_name }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile group-profile" itemscope itemtype="http://schema.org/MusicGroup">
  <meta content="{{ object.get_absolute_url }}" itemprop="url">

  <div class="profile-masthead"></div>
  <header class="profile-header">
    <div class="container">
      <div class="profile-metadata">
        <div class="profile-image"><img src="{{ MEDIA_URL }}{{ object.photo_thumbnail }}"></div>
        <h1 class="profile-name">
          <span class="name">{{ object.name }}</span>
          <span class="romanized-name" itemprop="name">{{ object.romanized_name }}</span>
          {% if object.former_names %}<p class="formerly-known-as">Formerly known as <i>{{ object.former_names }}</i></p>{% endif %}
        </h1>
      </div>
      {% if object.note or object.get_status_display == "Other" %}
      <div class="profile-note profile-status-{{ object.get_status_display|lower }}">
        <h4><span class="ss-icon ss-notepad"></span> Note</h4>
        {% if object.note %}{{ object.note_processed|typogrify }}{% endif %}
        {% if object.get_status_display == "Other" %}<p>We apologize, but we are unsure of this group's status due to insufficient information.</p>{% endif %}
      </div>
      {% endif %}
    </div>
  </header>

  <div class="profile-content">
    <aside class="profile-vitals">
      <div class="container">
        <ul class="vitals-list">
          <li class="vital vital-age"><span class="vital-label"><span class="ss-icon ss-clock"></span> Age</span> {{ object.age }} ({{ object.age_in_days|intcomma }} days)</li>
          <li class="vital vital-anniversary"><span class="vital-label"><span class="ss-icon ss-calendar"></span> Anniversary</span> <time datetime="{{ object.started|date:"c" }}" itemprop="foundingDate">{{ object.started }}</time></li>
          {% if object.ended %}<li class="vital vital-disband"><span class="vital-label"><span class="ss-icon ss-ban"></span> Disbanded</span> <time datetime="{{ object.ended|date:"c" }}">{{ object.ended }}</time></li>{% endif %}
          {% if memberships.active_count %}<li class="vital vital-actives"><span class="vital-label"><span class="ss-icon ss-users"></span> Active Members</span> {{ memberships.active_count }}</li>{% endif %}
        </ul>
      </div>
    </aside>
    <div class="profile-participations">
      <div class="container">
        <ul class="participation-cards">
          <li class="participation-card group-card">
            <div class="card-statistic">
              <h3 class="card-type"><span class="ss-icon ss-usergroup"></span> <span>Members</span></h3>
              <span class="count">{{ object.memberships.count }}</span>
            </div>
            <div class="card-example">
              <div class="example-heading"><span class="pill">Summary</span></div>
              <a href="{{ primary.group.get_absolute_url }}">{{ primary.group }}</a>
              <div class="example-subtext">
              {% if object.is_active %}
                {{ object.romanized_name }} has <b>{{ memberships.active_count }} current</b> member{{ memberships.active_count|pluralize }}{% if memberships.inactive_count %} and <b>{{ memberships.inactive_count }} former</b> member{{ memberships.inactive_count|pluralize }}{% endif %}.
                {% if memberships.leader %}<a href="{{ memberships.leader.idol.get_absolute_url }}">{{ memberships.leader.idol }}</a> has been leader since <b>{{ memberships.leader.leadership_started }}</b>{% endif %}.
              {% else %}
                {{ object.romanized_name }} is a <b>{{ object.get_classification_display|lower }} group</b> that had <b>{{ object.memberships.count }} members</b>{% if memberships.leader_count %} and <b>{{ memberships.leader_count }} leader{{ memberships.leader_count|pluralize }}</b>{% endif %}.
              {% endif %}
              </div>
            </div>
          </li><!-- .group-participation -->
          {% include "people/partials/single_card.html" %}
          {% include "people/partials/album_card.html" %}
        </ul><!-- .participation-list -->
      </div><!-- .container -->
    </div><!-- .participations -->

    <section class="memberships">
      <div class="container">
        {% if memberships.active %}
        <div class="actives">
          <div class="active-members">
            <h2 class="section-title">Current Members</h2>
            <ul class="membership-list active-members">
            {% for member in memberships.active %}
              <li class="membership" itemprop="musicGroupMember">
                <div class="idol-image object-image">
                  {% if member.idol.photo %}<a href="{% url 'image-detail' member.idol.photo|urlencode %}" target="_blank"><img src="{{ MEDIA_URL }}{{ member.idol.photo_thumbnail }}" width="60"></a>{% else %}<div class="empty-image"><span class="ss-icon ss-user"></span></div>{% endif %}
                </div>
                <div class="idol-meta">
                  <div class="idol-header">
                    <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                    <span class="name">{{ member.idol.name }}</span>
                  </div>
                  <div class="idol-subtext">
                    <div class="idol-data"><span class="ss-icon ss-clock"></span> <time datetime="{{ member.started|date:"c"}}/{% now "c" %}">Since <b>{{ member.started }}</b></time></div>
                    {% if member.is_leader %}<div class="idol-data"><span class="ss-icon ss-checkcalendar"></span> <time datetime="{{ member.leadership_started|date:"c"}}/{% now "c" %}">Leader since <b>{{ member.leadership_started }}</b></time></div>{% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if memberships.inactive %}
        <div class="inactives">
          <div class="inactive-members">
            <h2 class="section-title">Former Members</h2>
            <ul class="membership-list">
            {% for member in memberships.inactive %}
              <li class="membership">
                <div class="idol-image">
                  {% if member.idol.photo %}<img src="{{ MEDIA_URL }}{{ member.idol.photo }}" width="60">{% else %}<div class="empty-image"><span class="ss-icon ss-user"></span></div>{% endif %}
                </div>
                <div class="idol-meta">
                  <div class="idol-header">
                    <a href="{{ member.idol.get_absolute_url }}"><span class="romanized-name">{{ member.idol.romanized_name }}</span></a>
                    <span class="name">{{ member.idol.name }}</span>
                  </div>
                  <div class="idol-subtext">
                    <div class="idol-data"><span class="ss-icon ss-clock"></span> <time datetime="{{ member.started|date:"c" }}/{{ member.ended|date:"c" }}"><b>{{ member.started }}&ndash;{{ member.ended }}</b></time></div>
                    {% if member.is_leader %}<div class="idol-data"><span class="ss-icon ss-checkcalendar"></span> <time datetime="{{ member.leadership_started|date:"c"}}/{{ member.leadership_ended|date:"c" }}">Leader from <b>{{ member.leadership_started }}&ndash;{{ member.leadership_ended }}</b></time></div>{% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </section>

    <div class="profile-releases">
      <div class="container">
      {% if singles %}
        <div class="releases-singles">
          <h2 class="section-title">
            <span class="title">
              <span class="ss-icon ss-eighthnote"></span> Singles
              <b class="count">{{ singles|length }}</b>
            </span>
          </h2>
          <ul class="release-list">
          {% for release in singles %}
            {% include "people/partials/single_list_item.html" with release=release show_participants=False %}
          {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if albums %}
        <div class="releases-albums">
          <h2 class="section-title">
            <span class="title">
              <span class="ss-icon ss-music"></span> Albums
              <b class="count">{{ albums|length }}</b>
            </span>
          </h2>
          <ul class="release-list">
          {% for release in albums %}
            {% include "people/partials/album_list_item.html" with release=release show_participants=False %}
          {% endfor %}
          </ul><!-- .release-list -->
        </div><!-- .releases-albums -->
      {% endif %}
      </div><!-- .container -->
    </div><!-- .releases -->
  </div>

  {% comment %}
  {% if object.subgroups.all %}
  <div class="profile-subgroups-container container">
    <h2>Subgroups</h2>
    <div class="profile-subgroups">
      {% for subgroup in object.subgroups.all %}
        <span class="name">{{ subgroup.name }}</span>
        <a href="{{ subgroup.get_absolute_url }}"><span class="romanized-name">{{ subgroup.romanized_name }}</span></a>
        <span class="ss-icon ss-calendar"></span>
        <time datetime="{{ subgroup.started|date:"c" }}/{% if subgroup.ended %}{{ subgroup.ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
          {{ subgroup.started|date }}&ndash;{% if subgroup.ended %}{{ subgroup.ended|date }}{% else %}Present{% endif %}
        </time>
        <span class="tenure in-days">({{ subgroup.age_in_days }} days)</span>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endcomment %}
</section>
{% endblock content %}
