{% extends "layouts/site_base.html" %}
{% load music_tags %}
{% load typogrify_tags %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}) &middot; Idols{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ object.romanized_name }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile idol-profile" itemscope itemtype="http://schema.org/Person">
  <meta content="{{ object.get_absolute_url }}" itemprop="url">

  <div class="profile-masthead"></div>
  <header class="profile-header">
    <div class="container">
      <div class="profile-metadata">
        <div class="profile-image object-image">
          {% url 'image-detail' object.photo|urlencode as image_detail_url %}
          {% if object.photo_thumbnail %}<a href="{{ image_detail_url }}" target="_blank"><img src="{{ MEDIA_URL }}{{ object.photo_thumbnail }}"></a>{% else %}<div class="empty-image"><span class="ss-icon ss-user"></span></div>{% endif %}
        </div>
        <h1 class="profile-name">
          <span class="name"><b>{{ object.family_name }}</b>{{ object.given_name }}</span>
          <span class="romanized-name" itemprop="name"><b>{{ object.romanized_family_name }}</b> {{ object.romanized_given_name }}</span>
          {% with object.primary_membership as primary %}<p class="standing"><span itemprop="jobTitle">{{ primary.standing }}</span>{% if primary.group.romanized_name != "Soloist" %} of <span itemprop="affiliation">{{ primary.group }}</span>{% endif %}</p>{% endwith %}
        </h1>
      </div>
    </div>
  </header>

  <div class="profile-content">
    <aside class="profile-vitals">
      <div class="container">
        <ul class="vitals-list">
          <li class="vital vital-age">
            <span class="vital-label">
              {% if object.age < 15 %}<span class="ss-icon ss-balloon"></span>{% endif %}
              {% if object.age >= 15 and object.age < 20 %}<span class="ss-icon ss-handbag"></span>{% endif %}
              {% if object.age >= 20 %}<span class="ss-icon ss-cocktail"></span>{% endif %}
              Age
            </span>&nbsp;{% firstof object.age "Unknown" %}</li>
          <li class="vital vital-birthday"><span class="vital-label"><span class="ss-icon ss-calendar"></span> Birthday</span> <time datetime="{{ object.birthdate|date:"c" }}" itemprop="birthDate">{% firstof object.birthdate|date:"F j, Y" "Unknown" %}</time></li>
          <li class="vital vital-bloodtype"><span class="vital-label"><span class="ss-icon ss-anatomicalheart"></span> Bloodtype</span> {% firstof object.bloodtype "Unknown" %}</li>
          <li class="vital vital-height"><span class="vital-label"><span class="ss-icon ss-tapemeasure"></span> Height</span> {% firstof object.height "Unknown" %}{% if object.height %}cm{% endif %}</li>
        </ul>
      </div>
    </aside>
    <div class="profile-participations">
      <div class="container">
        <ul class="participation-cards">
          <li class="participation-card group-card">
            <div class="card-statistic">
              <h3 class="card-type"><span class="ss-icon ss-usergroup"></span> <span>Groups</span></h3>
              <span class="count">{{ object.memberships.count }}</span>
            </div>
            <div class="card-example">
            {% with object.primary_membership as primary %}
              <div class="example-heading"><span class="pill">Main Group</span></div>
              <a href="{{ primary.group.get_absolute_url }}">{{ primary.group }}</a>
              <div class="example-subtext">
                <time datetime="{{ primary.started|date:"c" }}/{% if primary.ended %}{{ primary.ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
                  {% if primary.is_active %}
                    Joined <b>{{ primary.started|date:"F j, Y" }}</b>
                  {% else %}
                    Member from <b>{{ primary.started|date:"F j, Y" }}</b>&ndash;<b>{{ primary.ended|date:"F j, Y" }}</b>
                  {% endif %}
                </time>
                {% if primary.is_leader %}
                <time datetime="{{ primary.leadership_started|date:"c" }}/{% if primary.leadership_ended %}{{ primary.leadership_ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
                  {% if not primary.leadership_ended %}
                    and leader since <b>{{ primary.leadership_started|date:"F j, Y" }}</b>
                  {% else %}
                    and was leader from <b>{{ primary.leadership_started|date:"F j, Y"}}</b>&ndash;<b>{{ primary.leadership_ended|date:"F j, Y" }}</b>
                  {% endif %}
                </time>
              {% endif %}
              </div>
            {% endwith %}
            </div>
          </li>
          {% include "people/partials/single_card.html" %}
          {% include "people/partials/album_card.html" %}
        </ul>
      </div>
    </div>

    <div class="profile-memberships">
      <div class="container">
      {% with object.primary_membership as membership %}
        <div class="membership-primary">
          <div class="membership">
            <h2 class="section-title"><span class="ss-icon ss-star"></span> Primary Group</h2>
            <div class="group-image">
              {% if membership.group.photo_thumbnail %}<img src="{{ MEDIA_URL }}{{ membership.group.photo_thumbnail }}">{% else %}<div class="empty-image"><span class="ss-icon ss-usergroup"></span></div>{% endif %}
            </div>
            <div class="membership-meta">
              <div class="membership-header">
                <a href="{{ membership.group.get_absolute_url }}"><span class="romanized-name">{{ membership.group }}</span></a>
                <span class="name">{{ membership.group.name }}</span>
              </div>
              <div class="membership-subtext">
                <span class="membership-data tenure">
                  <span class="ss-icon ss-calendar"></span>
                  <time datetime="{{ membership.started|date:"c" }}/{% if membership.ended %}{{ membership.ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
                    <b>{{ membership.started|date }}&ndash;{% if membership.ended %}{{ membership.ended|date }}{% else %}Present{% endif %}</b>
                  </time>
                  <span class="tenure in-days">({{ membership.tenure_in_days }} days)</span>
                </span>
                {% if membership.is_leader %}
                <span class="membership-data tenure leadership-tenure">
                  <span class="ss-icon ss-checkcalendar"></span>
                  <time datetime="{{ membership.leadership_started|date:"c" }}/{% if membership.leadership_ended %}{{ membership.leadership_ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
                    Leader from <b>{{ membership.leadership_started|date }}&ndash;{% if membership.leadership_ended %}{{ membership.leadership_ended|date }}{% else %}Present{% endif %}</b>
                  </time>
                  <span class="tenure in-days">({{ membership.leadership_tenure_in_days }} days)</span>
                </span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endwith %}
      {% if memberships %}
        <div class="membership-secondary">
          <h2 class="section-title"><span class="ss-icon ss-star"></span> Secondary Groups <span class="count">{{ memberships|length }}</span></h2>
          <ul class="membership-list">
          {% for membership in memberships %}
            <li class="membership">
              <div class="group-image">
                {% if membership.group.photo_thumbnail %}<img src="{{ MEDIA_URL }}{{ membership.group.photo_thumbnail }}">{% else %}<div class="empty-image"><span class="ss-icon ss-usergroup"></span></div>{% endif %}
              </div>
              <div class="membership-meta">
                <div class="membership-header">
                  <a href="{{ membership.group.get_absolute_url }}"><span class="romanized-name">{{ membership.group }}</span></a>
                  <span class="name">{{ membership.group.name }}</span>
                </div>
                <div class="membership-subtext">
                  <span class="membership-data tenure">
                    <span class="ss-icon ss-calendar"></span>
                    <time datetime="{{ membership.started|date:"c" }}/{% if membership.ended %}{{ membership.ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
                      <b>{{ membership.started|date }}&ndash;{% if membership.ended %}{{ membership.ended|date }}{% else %}Present{% endif %}</b>
                    </time>
                    <span class="tenure in-days">({{ membership.tenure_in_days }} days)</span>
                  </span>
                  {% if membership.is_leader %}
                  <span class="membership-data tenure leadership-tenure">
                    <span class="ss-icon ss-checkcalendar"></span>
                    <time datetime="{{ membership.leadership_started|date:"c" }}/{% if membership.leadership_ended %}{{ membership.leadership_ended|date:"c" }}{% else %}{% now "c" %}{% endif %}">
                      Leader from <b>{{ membership.leadership_started|date }}&ndash;{% if membership.leadership_ended %}{{ membership.leadership_ended|date }}{% else %}Present{% endif %}</b>
                    </time>
                    <span class="tenure in-days">({{ membership.leadership_tenure_in_days }} days)</span>
                  </span>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      </div>
    </div>

<div class="profile-releases">
  <div class="container">
  {% if singles %}
    <div class="releases-singles">
      <h2 class="section-title">
        <span class="title">
          <span class="ss-icon ss-eighthnote"></span> Singles
          <b class="count">{{ singles|length }}</b>
        </span>
      </h2>
      <ul class="release-list">
      {% for release in singles %}
        {% include "people/partials/single_list_item.html" with release=release show_participants=True %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if albums %}
    <div class="releases-albums">
      <h2 class="section-title">
        <span class="title">
          <span class="ss-icon ss-music"></span> Albums
          <b class="count">{{ albums|length }}</b>
        </span>
      </h2>
      <ul class="release-list">
      {% for release in albums %}
        {% include "people/partials/album_list_item.html" with release=release show_participants=True %}
      {% endfor %}
      </ul><!-- .release-list -->
    </div><!-- .releases-albums -->
  {% endif %}
  </div><!-- .container -->
</div><!-- .profile-releases -->

</section>

{% endblock content %}
