{% extends "layouts/site_base.html" %}

{% block title %}Hello! Project{% endblock %}
{% block meta %}
<meta property="og:title" content="Hello! Project">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile profile-group profile-override">
  <header>
    <div class="container">
      <div class="override-logo hello-project">
        <h1>Hello! Project</h1>
        <p>SINCE1998</p>
      </div>
    </div>
  </header>
</section>
{% endblock %}
