{% extends "layouts/site_base.html" %}

{% block title %}Hello! Project{% endblock %}
{% block meta %}
<meta property="og:title" content="Hello! Project">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile profile-group profile-override hello-project">
  <header class="override-header">
    <div class="container">
      <div class="override-logo">
        <h1>Hello! Project</h1>
        <p>SINCE1998</p>
      </div>
    </div>
  </header>

  {% comment %}
  <div class="container">
    {{ statistics }}
  </div>
  {% endcomment %}

  <div class="container">

    <ul class="group-list">
    {% for group, members in groups.items %}
      <li class="group-item">
        <div class="group">
          <span class="romanized-name">{{ group }}</span>
          <span class="name">{{ group.name }}</span>
        </div>
        <ul class="member-list">
        {% for member in members %}
          <li class="member-item">
            <span class="romanized-name">{{ member }}</span>
            <span class="name">{{ member.name }}</span>
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>

  </div>
</section>
{% endblock %}
