{% extends "site_base.html" %}
{% load floppyforms %}

{% block title %}Add an Event{% endblock %}
{% block content %}
<header class="section-header">
    <div class="container">
        <div class="row">
            <h1 class="col-sm-12">Add an Event</h1>
        </div>
    </div>
</header>
<section class="form creation">
    <div class="container">
        <form action="." method="post" accept-charset="utf-8">
        {% form form using %}
        <fieldset>
            <div class="row">
                <div class="col-sm-6">{% formrow form.romanized_name %}</div>
                <div class="col-sm-6">{% formrow form.name %}</div>
                <div class="col-sm-4">{% formrow form.nickname %}</div>
                <div class="col-sm-4">{% formrow form.info_link %}</div>
                <div class="col-sm-4">{% formrow form.secondary_info_link %}</div>
            </div>
            <div class="row">
                <div class="col-sm-6">{% formrow form.start_date %}</div>
                <div class="col-sm-6">{% formrow form.end_date %}</div>
            </div>
        </fieldset>
        {% endform %}

        <fieldset>
            <legend>Performances</legend>
            {{ formset.management_form }}
            {% form formset.forms using %}
            <ul class="inline-form">
            {% for form in formset.forms %}
            <li class="row">
                <div class="col-sm-3"></div>
                <div class="performance col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">{% formrow form.day %}</div>
                        <div class="col-sm-4">{% formrow form.start_time %}</div>
                        <div class="col-sm-4">{% formrow form.end_time %}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">{% formrow form.romanized_name %}</div>
                        <div class="col-sm-4">{% formrow form.name %}</div>
                        <div class="col-sm-4">{% formrow form.venue %}</div>
                    </div>
                </div>
            </li>
            {% endfor %}
            </ul>
            {% endform %}
        </fieldset>

        {% csrf_token %}
        <button class="button" type="submit">Add Event</button>
        </form>
    </div>
</section>
{% endblock content %}
