{% extends "layouts/site_base.html" %}

{% block title %}{{ object.romanized_name }} ({{ object.name }}){% endblock %}
{% block meta %}
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block content %}
<section class="profile event-profile" itemscope itemtype="http://schema.org/MusicEvent">
  {% print object %}
  <h1>
    <span class="name">{{ object.name }}</span>
    <span class="romanized-name" itemprop="name">{{ object.romanized_name }}</span>
  </h1>

  {{ object.participating_idols.all }}
  {{ object.participating_groups.all }}

  <p class="header">Details</p>
  Nickname: {{ object.nickname }}<br />
  Span:
  <time datetime="{{ object.start_date|date:"c" }}" itemprop="startDate">{{ object.start_date|date:"Y/m/d" }}</time>
   to <time datetime="{{ object.end_date|date:"c" }}" itemprop="endDate">{{ object.end_date|date:"Y/m/d" }}</time>

  Performance count:
  {{ object.schedule.count }}

  {{ object.idols.all }}
  {{ object.groups.all }}

  <p>Links:<br />
  <a href="{{ object.info_link }}" itemprop="url">HelloProject.com: {{ object.nickname }}</a>
  {% if object.secondary_info_link %}
  <br /><a href="{{ object.secondary_info_link }}" itemprop="url">HelloProject.com:
  {% for performance in object.schedule.all %} {{ performance.romanized_name }}
  {% endfor %}</a>{% endif %}</p>

  <h3 class="header">Schedule</h3>
  <table class="performance-list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>Venue</th>
      </tr>
    </thead>
    <tbody>
    {% for performance in object.schedule.all %}
      <tr itemscope itemtype="http://schema.org/subEvent">
        <time datetime="{{ performance.day|date:'c' }}T{{ performance.start_time|time:'H:i.u' }}" itemprop="startDate">
          <td><span class="ss-icon ss-calendar"></span> {{ performance.day|date:"Y/m/d" }}</td>
          <td><span class="ss-icon ss-clock"></span> {{ performance.start_time|time:"H:i" }}</td>
        </time>
        <td>
          <a href="{% url 'venue-detail' performance.venue.slug %}">{{ performance.venue }}</a>
          {% if performance.romanized_name %}{{ performance.romanized_name }}{% endif %}
          {% if performance.name %}{{ performance.name }}{% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr><td colspan="3">{{ object.schedule.all|length }} performances</td></tr>
    </tfoot>
  </table>

</section>
{% endblock content %}
