{% extends "base.html" %}

{% block body %}

<h2>{{ object.romanized_name }}</h2>
{{ object.name }}

<p class="header">Details</p>
Performance count: {{ object.performances.count }}
<p>Located at:<br />
{{ object.romanized_address }}<br />
({{ object.address }})</p>

<p class="header">Events</p>
<ul>{% for event in object.performances.all %}
<li>{{ event.day | date:"Y/m/d" }} ({{ event.start_time | time:"H:i" }})<br />
<a href="{% url "event-detail" event.event.slug %}">
{{ event.event.romanized_name }}{% if event.romanized_name %} 
{{ event.romanized_name }}{% endif %}</a>
</li>
{% endfor %}</ul>

{% endblock body %}