// .about
// Set of classes that style the about page.
[class^="path-about"] {
  .searchbar { display: none; }
  .header-logo-wordmark { color: #FFF; }
}
.about {
  > header {
    margin-top: -61px;
    padding: 6rem 0 12rem;
    background-color: #009DDD;
  }
  .tagline {
    text-align: center;

    h1, h2, a { color: #FFF; }
    h2, p {
      @include pad(3, 3);
      color: rgba(#FFF, 0.75);
    }
    h1 {
      @include pad(1, 1);
      font-family: $font-family-primary;
      font-size: 4.909rem;
      font-weight: 600;
      font-style: italic;
      letter-spacing: -2px;
    }
  }
}

.people.founders {
  @include span-columns(5, 12);
}
.people.editors {
  @include span-columns(7 omega, 12);
}

.person-position {
  color: #A0ABB6;
  font-family: $font-family-secondary;
  font-size: 11px;
  font-weight: 600;
}

.the-team {
  margin-top: -10rem;
}
.the-team .container { border-top: 1px solid rgba(#FFF, 0.1); }
.people h2 {
  margin: 1rem 0;

  color: rgba(#FFF, 0.5);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.person {
  margin: 0 6px;
  overflow: hidden;
  width: columns(3, 6);

  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(#000, 0.15);
}
.person-photo {
  background-color: #333;
  height: 160px;
  overflow: hidden;

  img {
    margin-top: -6px; margin-left: -3px;
    width: 108%;
  }
}
.jen img { margin-top: -36px; }
.person-meta {
  padding: 1rem;
}
.team-list {
  display: flex;
  justify-content: space-around;
}


// .fine-print
// Set of classes that style large swaths of text such as the terms
// of service and privacy policy pages.
.fine-print {
  h1 {
    margin: 0;
    padding: 0;
  }
  li, p {
    color: $brand-medGrey;
    font-size: 13px;

    &:first-child { margin-top: 0; }
  }

  > header {
    padding-top: 120px; padding-bottom: 24px;
    background: $brand-darkGrey;

    h1 {
      color: #FFF;
      font-size: 36px;
      letter-spacing: -1px;
    }
  }

  .flatpage-header {
    @include span-columns(4, 12);
    padding-top: 2em;

    h1 {
      font-size: 24px;
      font-weight: 300;
    }
  }
  .flatpage-content {
    @include span-columns(8 omega, $total-columns);
    padding-top: 2em;

    footer {
      margin: 2em 0;
      opacity: 0.5;
    }
    h2 {
      font-size: 18px;
      font-weight: 400;
    }
    li {
      margin: 0.5em 0;

      &.important {
        background-color: #FFFBCC;
        border: 1px solid #E6DB55;
        padding: 0.5em;
      }
    }
    strong { color: $brand-darkGrey; }
  }
}
