[class^="path-happenings"] {
  .header-search {
    border-color: rgba(#FFF, 0.1);
    border-bottom-color: rgba(#000, 0.1);
  }
  .override-header {
    background: #0B1C2D;
    color: #FFF;
    padding: 6rem 0 0;
  }
}

.happening-header {
  margin: 0 0 calc(6rem - 41px);

  color: #FFF;
  font-family: $font-family-primary;
  font-size: 5.61rem;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -4px;

  .year {
    @include position(relative);
    margin-right: -0.875rem;
    vertical-align: 1rem;

    font-family: $font-family-secondary;
    font-size: 3.157rem;
    font-style: normal;
    font-weight: 200;
    letter-spacing: -3px;
  }
}

.happening-navigation {
  .container {
    align-items: center;
    display: flex;
  }
  .next-year, .previous-year {
    width: columns(1, 12);

    a {
      @include link-colors(rgba(#FFF, 0.75), rgba(#FFF, 1.0));
      font-size: 13px;
      font-weight: 700;
    }
  }
  .next-year { text-align: right; }
  .ss-icon { @include position(relative, 2px 0 0 0); }
}
.happening-decades {
  flex: 1;
  margin: 0 gutter(12);
}
.happening-decades-header {
  padding: 0.356rem 0.375rem;

  a {
    align-items: center;
    display: flex;
    padding: 0.3rem 0.5rem;

    background: rgba(#000, 0.15);
    border-radius: 4px;
    color: #FFF;

    strong { @include link-colors(#FFF); }
  }
  a:hover {
    background: rgba(#000, 0.35);
  }
  strong {
    flex: 1;
    display: block;
    padding-left: 4px;

    font-size: 12px;
    font-weight: 600;
  }
}

.happening-decade-list {
  display: flex;
  height: 0;
  overflow: hidden;
  padding: 0 0.875rem;
  transition: all 250ms ease;

  &.visible { height: 96px; }
}
.happening-decade {
  margin-right: gutter(12);
  width: 20%;

  &:last-child { margin-right: 0; }
  & strong {
    display: block;
    margin-bottom: 0.369rem;
    padding-bottom: 0.369rem;

    border-bottom: 1px solid rgba(#FFF, 0.25);
    color: rgba(#FFF, 0.75);
    font-size: 12px;
  }
}

.happening-year-list {
  display: inline-block;
  font-size: 12px;
}
.happening-year {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;

  &:nth-child(4n) { margin-right: 0; }
  &.selected a {
    @include link-colors(#FFF);
    font-weight: 700;
  }
  a { @include link-colors(rgba(#FFF, 0.75), #FFF); }
}

// .happening-statistics
// Set of classes that style the yearly statistics count module on a given
// yearly happenings page.
// -----------------------------------------------------------------------------
.happening-statistics { background-color: #272E37; }
.happening-statistic-list,
.happening-model-list,
.happening-field-list { display: flex; }
.happening-app {
  align-items: center;
  display: flex;
  margin: 1rem 0;

  &:last-child { margin-top: 0; }
}
.happening-app-label {
  flex: 1;
  color: #A0ABB6;
  font-family: $font-family-secondary;
  text-transform: uppercase;

  .ss-icon {
    @include position(relative, 1px 0 0 0);
    color: #FFF;
  }
}
.happening-statistic-list {
  flex-direction: column;
  margin: 0;
  border-width: 0 1px;
}

.happening-field-list {
  flex: 9;
  padding: 0.422rem 0;
  border-left: 1px solid #454D57;
}
.happening-field {
  padding-left: 1rem;
  line-height: 1;
}
.statistic-label {
  display: block;
  padding-top: 0.317rem;

  color: #828B96;
  font-size: 11px;
  line-height: 1;
}
.statistic-count {
  color: #FFF;
  font-size: 1.777rem;
  white-space: nowrap;
}
.statistic-change {
  font-size: 12px;

  &.positive { color: rgba(#00D8AE, 0.8); }
  &.negative { color: rgba(#E9173F, 0.8); }
  &.no-change { color: #454D57; }

  .ss-directup { @include position(relative, 2px 0 0 0); }
  .ss-directdown { @include position(relative, 1px 0 0 0); }
}


// .happenings-list
// -----------------------------------------------------------------------------
.happening-month {
  display: flex;
  justify-content: space-between;

  &:first-child {
    .happening-month-name,
    .happening-date-list { padding-top: 2.369rem; }
  }
  &:last-child {
    .happening-date-list {
      @include position(relative);
      padding-bottom: 0;
    }
    .happening-date-list:after {
      @include position(absolute, 0 0 -33px 0px);
      content: '';
      width: 3px; height: 86px;
      background: #dfe3e8;
    }
  }
}

.happening-month-name {
  flex: 1;
  margin-top: 4px;
  width: columns(2, 12);

  font-size: 1.166rem;
  font-weight: 300;

  small {
    display: block;
    font-size: 12px;
    font-weight: 700;
  }
}

.happening-date-list {
  flex: 4;
  padding: 0 0 2rem 1rem;
  box-shadow: inset 3px 0 0 #DFE3E8;
}
.happening-date {
  @include position(relative);
  align-items: flex-start;
  display: flex;
  min-height: 3.157rem;
}
.happening-date-name {
  margin: 0;
  margin-right: gutter(12);
  padding: 0.75rem 0 0.563rem;
  width: 2.369rem;

  background-color: #FFF;
  border-radius: 3px;
  box-shadow: inset 0 4px 0 0 #828B96, inset 0 0 0 1px #DFE3E8, 0 1px 0 #F4F6F9;
  color: #454D57;
  font-size: 1.166rem;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;

  &:before {
    @include position(absolute, 1rem 0 0 -18px);
    content: '';
    width: 7px; height: 7px;

    background: #FFF;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #DFE3E8;
  }
}

.happening-event-list {
  flex: 1;
  margin-bottom: 1rem;
  padding: 0.512rem 0.75rem;

  background-color: #FFF;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #DFE3E8, 0 1px 0 #F4F6F9;
}
.happening-events {
  align-items: center;
  display: flex;
}
.happening-event {
  flex: 1;
  padding: 0.238rem 0;

  .actor { font-weight: 700; }
  .subject { font-style: italic; }
}
.happening-originals {
  color: #CBD1D8;
  font-size: 12px;

  a {
    color: #A1ABB6;
    font-style: italic;
  }
}
.happening-actors {
  img { margin-right: 1px; }
  img:last-child { margin-right: 0; }
}

.happening-illustration {
  align-items: center;
  display: flex;
  margin-left: gutter(12) * 2;
  padding: 0.238rem 0;
}
// .happening-illustration:hover { transform: scale(1.5); }
.happening-illustration img {
  height: 2.369rem;
  border-radius: 2px;
}
.happening-action {
  @include position(relative);
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 2px;
  width: 2.369rem; height: 2.369rem;
  z-index: 5;

  font-size: 1.333rem;

  .ss-icon { @include position(relative, 3px 0 0 0); }
}
.happening-action {
  .ss-download, .ss-scaledown { color: #A8D742; }
  .ss-upload, .ss-scaleup, .ss-ban { color: #E9173F; }
  .ss-vinylrecord, .ss-disc { color: #454D57; }
}

.icon-subject {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 2.369rem; height: 2.369rem;

  background-color: #454D57;
  border-radius: 2px;
  color: #FFF;
  font-size: 1.333rem;

  .ss-luggage { height: 24px; }
  .ss-mic { height: 23px; }
}
.hp-subject {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 2.369rem; height: 2.369rem;

  background-color: #17385b;
  border-radius: 2px;
  color: #FFF;
  font-family: $font-family-hello-project;
  font-size: 13px;
}

// The following @each loops correspond to overrides for either decades
// or years since it's cool when things match.
//
// It's at the bottom because... cascading style sheets.
// -----------------------------------------------------------------------------
// .happening-decade-*
$decades: 1970, 1980, 1990, 2000, 2010;
$decade-headers: #027298, #BA88A5, #A9B35D, #9BC0DD, #00A68E;
$decade-navigations: #015279, #A06887, #8C983F, #7CA8CE, #00886E;

@each $decade in zip($decades, $decade-headers, $decade-navigations) {
  .happening-decade-#{nth($decade, 1)} {
    .override-header { background-color: nth($decade, 2); }
    .happening-navigation { background-color: nth($decade, 3); }
    .happening-date-name { box-shadow: inset 0 4px 0 0 nth($decade, 2), inset 0 0 0 1px #DFE3E8, 0 1px 0 #F4F6F9; }
  }
}

// .happening-year-*
$years: 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013;
$year-headers: #9BC0DD, #D24087, #D72442, #87D1D2, #F26C4F, #08BBB7, #E3D6C5, #B31F41, #526FB1, #F6D258, #5AC3BC, #E7658B, #F05127, #00A68E;
$year-navigations: #7CA8CE, #BF2767, #C61429, #67BEBF, #EB4C33, #04A19D, #D6C4AE, #981128, #364F95, #F1BF3B, #3CABA3, #DC466B, #E83516, #00886E;

@each $year in zip($years, $year-headers, $year-navigations) {
  .happening-year-#{nth($year, 1)} {
    .override-header { background-color: nth($year, 2); }
    .happening-navigation { background-color: nth($year, 3); }
    .happening-date-name { box-shadow: inset 0 4px 0 0 nth($year, 2), inset 0 0 0 1px #DFE3E8, 0 1px 0 #F4F6F9; }
  }
}
