[class^="path-happenings"] {
  .header-search {
    border-color: rgba(#FFF, 0.1);
    border-bottom-color: rgba(#000, 0.1);
  }
}

.happenings {
  .override-header {
    background: #0B1C2D;
    color: #FFF;
    padding: 6rem 0 0;

    h1 {
      // margin: 0 0 2.763rem;
      margin: 0 0 calc(6rem - 41px);

      color: #FFF;
      font-family: $font-family-primary;
      font-size: 4.909rem;
      font-style: italic;
      font-weight: 800;
      letter-spacing: -4px;
    }
    .year {
      @include position(relative);
      margin-right: -0.875rem;
      vertical-align: 1rem;

      font-family: $font-family-secondary;
      font-size: 2.763rem;
      font-style: normal;
      font-weight: 200;
      letter-spacing: -3px;
    }
  }
}

.happening-decade-1970 .override-header { background-color: #027298; }
.happening-decade-1980 .override-header { background-color: #BA88A5; }
.happening-decade-1990 .override-header { background-color: #A9B35D; }
.happening-decade-2000 .override-header { background-color: #9BC0DD; }
.happening-decade-2010 .override-header { background-color: #00A68E; }

.happening-navigation {
  background: rgba(#000, 0.05);
  border-top: 1px solid rgba(#FFF, 0.25);
  box-shadow: inset 0 1px 1px rgba(#000, 0.01);

  .container {
    align-items: center;
    display: flex;
  }
  .next-year, .previous-year {
    width: columns(1, 12);

    a {
      @include link-colors(rgba(#FFF, 0.75), rgba(#FFF, 1.0));
      font-size: 13px;
      font-weight: 700;
    }
  }
  .next-year { text-align: right; }
  .ss-icon { @include position(relative, 2px 0 0 0); }
}
.happening-decades {
  flex: 1;
  margin: 0 gutter(12);
}
.happening-decades-header {
  padding: 0.356rem 0.375rem;

  a {
    align-items: center;
    display: flex;
    padding: 0.3rem 0.5rem;

    background: rgba(#000, 0.05);
    border-radius: 4px;
    color: #FFF;

    strong { @include link-colors(#FFF); }
  }
  a:hover {
    background: rgba(#000, 0.25);
  }
  strong {
    flex: 1;
    display: block;
    padding-left: 4px;

    font-size: 12px;
    font-weight: 600;
  }
  .ss-icon { @include position(relative, 1px 0 0 0); }
}

.happening-decade-list,
.happening-year-list {
  @include reset-list-style;
  @include reset-box-model;
}
.happening-decade-list {
  display: flex;
  height: 0;
  overflow: hidden;
  padding: 0 0.875rem;
  transition: all 250ms ease;

  &.visible { height: calc(75px + 1.312rem); }
  > li {
    margin-right: gutter(12);
    width: 20%;


    &:last-child { margin-right: 0; }
    & strong {
      display: block;
      margin-bottom: 0.369rem;
      padding-bottom: 0.369rem;

      border-bottom: 1px solid rgba(#FFF, 0.25);
      color: rgba(#FFF, 0.75);
      font-size: 12px;
    }
  }
}

.happening-year-list {
  display: inline-block;
  font-size: 12px;
}
.happening-year-list li {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;

  &:nth-child(4n) { margin-right: 0; }
  &.selected a {
    @include link-colors(#FFF);
    font-weight: 700;
  }
  a { @include link-colors(rgba(#FFF, 0.75), #FFF); }
}

.happening-month-list,
.happening-event-list,
.happening-date-list {
  @include reset-list-style;
  @include reset-box-model;
}
.happening-month {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 2rem;

  border-top: 1px solid $brand-paleGrey;

  h2 {
    margin-top: 4px;
    width: columns(2, 12);

    font-size: 1.166rem;
    font-weight: 300;
  }
  li { font-size: 13px; }
}

.happening-event-list {

}

.happening-date-list {
  flex: 1;
}
.happening-date {
  display: flex;
  min-height: 27px;
}
.happening-timestamp {
  margin-left: gutter(12);
  width: columns(1, 12);

  font-size: 1.166rem;
  font-family: $font-family-secondary;
  text-align: center;
}

.timestamp-box {
  border: 1px solid #ccc;
}
.timestamp-day,
.timestamp-date {
  display: block;
}
.timestamp-day {
  padding: 2px 0;

  color: $brand-medGrey;
  font-size: 0.656rem;
  font-weight: 700;
}
.timestamp-date {
  font-size: 1.166rem;
  font-weight: 700;
}

.happening-verb {
  margin-left: gutter(12);
  width: columns(2, 12);
}
.happening-event {
  flex: 1;
}

// .hello-project .override-logo {
//   background: linear-gradient(#17385b, darken(#17385b, 5%));
//   box-shadow: 0 0 2rem rgba(#000, 0.25), inset 0 0 0 1px rgba(#FFF, 0.05);
//   text-shadow: 0 1px 0 rgba(#000, 0.25);

//   h1 {
//     font-family: $font-family-hello-project;
//     text-transform: uppercase;
//     letter-spacing: 0.2em;
//   }
//   p {
//     color: rgba(#FFF, 0.75);
//     font-family: $font-family-hello-project-secondary;
//     letter-spacing: 0.1em;
//   }
// }
