// @import "compass/css3/user-interface";

// Layout & Widths
.music-profile {
  // .editions { // // @include span-columns(9 , 12); }
  // .participations { // // @include span-columns(3 omega, 12); }

  // .release-name { // // @include span-columns(9, 12); }
  // .release-metadata { // // @include span-columns(3 omega, 12); }

  // .edition-image { // // @include span-columns(2, 9); height: 146px; }
  // .edition-contents { // // @include span-columns(7 omega, 9); }
  .edition-contents table { width: 100%; }
}

//
.editions {
  padding-right: 24px;
  border-right: 1px solid $brand-paleGrey;
}



.music-profile {
  .editions { background-color: #FFF; }

  .romanized-name { }
  .name {
    display: block;
    color: $brand-lightGrey;
    font-size: 12px;
  }
}

.release-name {
  padding-bottom: 1em;

  h1, p {
    margin: 0;
    font-weight: 200;
  }
 .romanized-name {
    font-size: 48px;
    letter-spacing: -1px;
  }
  .name {
    font-size: 18px;
  }
}

.release-metadata {
  padding-top: 6px;
  color: $brand-lightGrey;

  a { font-weight: bold; }
}

.edition {
  // @include clearfix;
  margin-bottom: 36px;
}
.edition-meta {
  // @include clearfix;
  color: $brand-medGrey;
}
.edition-name {
  margin: 0;
  height: 54px;
  padding-bottom: 12px;
  vertical-align: top;

  color: $brand-darkGrey;
  font-size: 18px;
  font-weight: 600;
  line-height: $headings-line-height;

  .romanized-name {
    display: block;
    padding-top: 3px;
  }
  .name { padding-top: 3px; }
}
.edition-subtext {
  text-align: right;
  vertical-align: top;
  width: 184px;
}
.edition-released,
.edition-number {
  color: $brand-lightGrey;
  display: block;
  font-size: 12px;
}

.tracklist-heading {
  padding: 12px 0;

  border-top: 1px solid $brand-paleGrey;
  color: $brand-medGrey;
  font-family: $font-family-secondary;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  .ss-icon {
    position: relative; top: 1px;
    margin-right: 2px;
  }
}

.track {
  padding: 6px 0;

  td { vertical-align: top; }
  .track-name { padding-bottom: 6px; }
  &:last-child .track-name { padding-bottom: 12px; }
}

.track-number {
  font-family: $font-family-secondary;
  width: 30px;

  .pill {
    display: block;
    margin-right: 6px;
    padding: 3px 6px;

    background: #FFF;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px $brand-paleGrey;
    color: $brand-medGrey;
    font-family: $font-family-secondary;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
  }
}

.track-type {
  // @include user-select(none);
  text-align: right;

  .pill {
    margin-left: 6px;
    padding: 4px 6px;

    background: $brand-medGrey;
    border-radius: 3px;
    color: #FFF;
    font-family: $font-family-secondary;
    font-size: 10px;
    font-weight: 600;

    .video-list &,
    &.cover,
    &.album {
      background: #FFF;
      box-shadow: inset 0 0 0 1px $brand-paleGrey;
      color: $brand-medGrey;
    }
  }
  .pill.aside { background: $brand-primary-accent; }
  .pill.bside { background: $brand-secondary-accent; }
}

.participant {
  font-size: 13px;

  .age {
    font-weight: 600;
  }
}
