@import "compass/css3/user-interface";
@import "components/profiles";

// Layout & Widths
.music-profile {
  .editions { @include span-columns(9 , 12); }
  .participations { @include span-columns(3 omega, 12); }

  .release-name { @include span-columns(9, 12); }
  .release-metadata { @include span-columns(3 omega, 12); }

  .edition-contents { @include span-columns(7 omega, 9); }
  .edition-contents table { width: 100%; }
}

//
.editions { padding-right: 24px; }

.music-profile {
  .editions { }
  .edition-list {
    padding: 1.5rem 0;
  }

  .romanized-name { }
  .name {
    display: block;
    color: $brand-lightGrey;
    font-size: 12px;
  }
}

.release-metadata {
  padding-top: 6px;
  color: $brand-lightGrey;

  a { font-weight: bold; }
}

.edition {
  @include clearfix;
  margin-bottom: 36px;
}
.edition-contents {
  padding: 1rem;

  background: #FFF;
  border: 2px solid #DFE3E8;
  border-radius: 4px;
}
.edition-image {
  @include span-columns(2, 9);
  height: 146px;
  padding: 2px;

  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #B6BEC7;
}
.edition-meta {
  @include clearfix;
  color: $brand-medGrey;
}
.edition-name {
  margin: 0;
  height: 54px;
  padding-bottom: 12px;
  vertical-align: top;

  color: $brand-darkGrey;
  font-size: 18px;
  font-weight: 600;
  line-height: $headings-line-height;

  .romanized-name {
    display: block;
    padding-top: 3px;
  }
  .name { padding-top: 3px; }
}
.edition-subtext {
  text-align: right;
  vertical-align: top;
  width: 184px;
}
.edition-released,
.edition-number {
  color: $brand-lightGrey;
  display: block;
  font-size: 12px;
}

.tracklist-heading {
  padding: 12px 0;

  border-top: 1px solid $brand-paleGrey;
  color: $brand-medGrey;
  font-family: $font-family-secondary;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  .ss-icon {
    position: relative; top: 1px;
    margin-right: 2px;
    color: #00ACE4;
  }
}

.track {
  padding: 6px 0;

  td { vertical-align: top; }
  .track-name { padding-bottom: 6px; }
  &:last-child .track-name { padding-bottom: 12px; }
}

.track-participants {
  @include position(relative);
  padding: 2px 0 6px 18px;
  font-size: 12px;

  &:before {
    @include position(absolute, 0 0 0 0px);
    content: '\2514';
  }
}

.track-number {
  font-family: $font-family-secondary;
  width: 30px;

  .pill {
    display: block;
    margin-right: 6px;
    padding: 3px 6px;

    background: #FFF;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px $brand-paleGrey;
    color: $brand-medGrey;
    font-family: $font-family-secondary;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
  }
}

.track-type {
  @include user-select(none);
  text-align: right;

  .pill {
    margin-left: 6px;
    padding: 4px 6px;

    background: $brand-medGrey;
    border-radius: 3px;
    color: #FFF;
    font-family: $font-family-secondary;
    font-size: 10px;
    font-weight: 600;

    .video-list &,
    &.cover,
    &.album {
      background: #FFF;
      box-shadow: inset 0 0 0 1px $brand-paleGrey;
      color: $brand-medGrey;
    }
  }
  .pill.aside, .pill.bside { box-shadow: none; }
  .pill.aside { background: $brand-primary-accent; }
  .pill.bside { background: $brand-secondary-accent; }
}

.participant {
  font-size: 13px;

  .age {
    font-weight: 600;
  }
}
