[class^="path-news"] {
  .header-search {
    border-color: rgba(#FFF, 0.1);
    border-bottom-color: rgba(#000, 0.1);
  }
  .override-header {
    background: #454D57;
    color: #FFF;
    padding: 6rem 0 0;
  }
}

.news-header {
  margin: 0 0 calc(6rem - 41px);

  color: #FFF;
  font-family: $font-family-primary;
  font-size: 5.61rem;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -4px;

  .year {
    @include position(relative);
    margin-right: -0.875rem;
    vertical-align: 1rem;

    font-family: $font-family-secondary;
    font-size: 3.157rem;
    font-style: normal;
    font-weight: 200;
    letter-spacing: -3px;
  }
}

.subjects {
  margin: 1.333rem 0;

  .subject { display: inline-block; }
}
.subject-link {
  display: inline-block;
  padding: 4px 8px;
  background-color: #B6BEC7;
  border-radius: 4px;
  color: #FFF;

  &:hover {
    background-color: #A1ABB6;
    color: #FFF;
  }
}
.subject-image {
  height: 32px;
  padding-right: 4px;
}
.subject-name {
  font-family: $font-family-secondary;
  font-size: 11px;
  font-weight: 700;
}


.item-header {
  flex: 1;
  margin-right: gutter(12);
}
.item-title {
  margin-top: 0;
  margin-bottom: 1rem;

  font-family: $font-family-primary;
  font-size: 1.777rem;
  font-weight: 700;
}
.item-metadata {
  color: #646D77;
  font-size: 0.75rem;
  font-style: italic;
}
.item-published { font-weight: 700; }
.item-author { font-weight: 500; }

.item-body {
  flex: 2;

  p:first-child { margin-top: 0; }
}

.item-images {
  flex: 1;
  margin-left: gutter(12);
}
.item-image {
  margin-bottom: 1rem;

  figure {}
  figcaption {
    margin: 0.422rem 0;
    font-size: 11px;
    font-style: italic;
  }
  img { width: 100%; }
}

.news-item {
  margin-top: 1.777rem;

  .item { display: flex; }
}

.item-attribution {
  margin-top: 1.777rem;
  padding: 1rem 0;
  width: 100%;

  border-top: 1px solid #EBEFF5;
  font-size: 12px;

  th, td {
    padding: 6px 0;
    vertical-align: top;
  }
  th {
    width: columns(2);
    color: #646D77;
    font-weight: bold;
    text-align: left;
  }
  small {
    display: block;
    color: #B6BEC7;
  }
}

.item-juke {
  display: flex;
  margin-top: 1.777rem;
  padding: 1.333rem 0;

  small {
    display: block;
    color: #B6BEC7;
  }
}
.juke {
  align-items: center;
  display: flex;
  flex: 1;
}
.juke-previous {  text-align: left; }
.juke-next {
  text-align: right;

  .ss-navigateright { order: 1; }
}
.juke-link {
  flex: 1;
  padding: 0 6px;
}
