@import "components/profiles";

// .profile-header (*)
// Classes tasked with styling the header section of a profile page.
.profile-header {
  // box-shadow: 0 0 0 1px $brand-paleGrey;

  .formerly-known-as,
  .standing {
    margin: 0;
    margin-top: 4px;

    color: $brand-medGrey;
    font-size: 13px;
  }
}

.latest-releases {
  @include clearfix;
  @include span-columns(9, 12);
  padding: 1rem 0;

  .pill { margin-bottom: 6px; }
  .release-metadata { @include span-columns(4 omega, 5); }
  .release-names { padding-bottom: 6px; }
  .ss-icon {
    @include position(relative, 1px 0 0 0);
    padding-right: 2px;
  }
}

// .membership(s)
section.memberships {
  // box-shadow: inset 0 -1px 0 $brand-paleGrey;
  padding: 24px 0 36px;
}
.membership { @include clearfix(); }

.romanized-name {
  display: block;
  line-height: $headings-line-height;
  font-size: 16px;
}
.name {
  display: block;
  color: $brand-lightGrey;
  font-size: 12px;
}

.idol-profile {
  .membership-primary .group-image {
    @include span-columns(4, 12);
    height: 174px;
  }
  .membership-list .group-image {
    @include span-columns(1, 6);
    height: 37px;
  }

  .membership-primary,
  .membership-secondary {
    @include clearfix;
  }
  .membership-section-title { @include span-columns(2 omega, 12); }
  .membership-list {
    @include clearfix;
    @include span-columns(10, 12);
  }
  .membership {
    @include span-columns(5, 10);
    @include nth-omega(2n);
  }

  .membership {
    padding-bottom: 1rem;
  }

  .membership-primary {
    margin-bottom: 24px;
  }
  .membership-section-title {
    margin: 0;
    text-align: right;
  }

  .membership-primary .group-metadata { @include span-columns(6, 12); }
}

.tenure {
  color: $brand-lightGrey;
  font-size: 1rem;
}



// .participation (*)
// Set of classes that style "card-like" statistics. E.g. depicting
// singles, albums, groups, and events that an idol was a part of.
.participations { padding: 24px 0; }
.participation-list {
  align-content: stretch;
  display: flex;
}
.participation {
  @include position(relative);
  flex: 1;
  margin-right: 2rem;
  min-height: 214px;
  min-width: 214px;

  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(#000, 0.1), inset 0 0 0 1px rgba(#000, 0.2);

  &:last-child { margin-right: 0; }
  .ss-icon {
    @include position(relative, 1px 0 0 0);
    padding-right: 2px;
    color: $brand-lightGrey;
  }
}
.statistic {
  padding: 1rem;
  line-height: 1;
  text-align: center;

  .count {
    font-size: 58px;
    font-weight: bold;
  }
}
.participation-type {
  margin: 0;
  padding-bottom: 0.75rem;

  color: $brand-medGrey;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.latest-heading {
  @include position(relative, 0 0 0 0px);
  margin-bottom: 0.5rem;
  box-shadow: none;
  text-align: center;

  &:before {
    @include position(absolute, 10px 0 0 0px);
    width: 100%;
    z-index: 0;

    border-top: 1px solid rgba(#000, 0.05);
    content: '';
  }
  .pill {
    @include position(relative);
    z-index: 1;
    box-shadow: none;
  }
}
.participation-latest {
  padding: 0 1rem 1rem;

  a { font-weight: 600; }
  .subtext { padding-top: 3px; }
}


// Groups
.group-profile {
  .membership-list,
  .release-list {
    @include clearfix;
    @include reset-box-model;
    @include reset-list-style;
  }

  .memberships {
    .actives {}
    .inactives { border-top: 1px solid $brand-paleGrey; }
  }
  .membership-section-title { @include span-columns(2 omega, 12); }
  .membership .romanized-name {
    font-family: $font-family-secondary;
    font-size: 14px;
  }
}

.active-members {
  @include clearfix;

  .membership-list { @include span-columns(10, 12); }
  .membership {
    @include span-columns(5, 10);
    @include nth-omega(2n);
  }
  .idol-image {
    @include span-columns(1, 5);
    height: 65px;
  }
}

// .inactive-leaders
// Classes tasked with displaying a timeline-like graph depicting the
// tenures of each leader (if the number of former leaders is more
// than one).
.inactive-leaders {
  @include clearfix;
  margin: 24px 0;

  .membership { position: relative; }
  .membership-header { @include clearfix; }
  .membership-header .membership-graph { @include squish(3, 2); }
  .membership-names { @include span-columns(3, 12); }
  .membership-numbers { @include span-columns(2 omega, 12); }
  .membership-graph {
    @include span-columns(7, 12);
    padding: 8px 0;
    position: relative;

    border: 1px solid $brand-paleGrey;
    border-width: 0 1px;
  }

  .bar {
    position: relative;

    &.full-tenure {
      border-top: 1px solid rgba($brand-primary-accent, 0.25);
      height: 1rem;
    }
    &.leadership-tenure {
      background-color: $brand-primary-accent;
      top: -6px;
      height: 1rem;
    }
  }
  .leadership-tenure-count {
    @include position(absolute, 13px 0 0 0);
    padding-left: 6px;

    color: $brand-primary-accent;
    font-size: 11px;
    font-weight: bold;
  }

  // .graph-[started|ended]
  // Displays the starting and ending dates of the leader graph.
  .graph-started,
  .graph-ended {
    color: $brand-lightGrey;
    font-size: 11px;
    font-weight: 600;
  }
  .graph-started { padding-left: 12px; }
  .graph-ended {
    float: right;
    padding-top: 3px; padding-right: 12px;
  }
  .graph-started:before,
  .graph-ended:before {
    content: '';
    width: 9px; height: 9px;

    background: #FFF;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
  .graph-started:before { @include position(absolute, 13px 0 0 -5px); }
  .graph-ended:before { @include position(absolute, 13px -5px 0 0); }
}

.inactive-members {
  @include clearfix;

  .membership-list { @include span-columns(10, 12); }
  .membership {
    @include span-columns(5, 10);
    @include nth-omega(2n);
    padding-bottom: 1rem;
  }
}

.releases {
  border-top: 1px solid $brand-paleGrey;
  // border-bottom: 1px solid $brand-paleGrey;
}
.releases-singles,
.releases-albums {
  @include clearfix;
  padding-top: 24px; padding-bottom: 24px;
}
.releases-albums { border-top: 1px solid $brand-paleGrey; }

.release {
  @include clearfix;
  @include span-columns(6, 12);
  @include nth-omega(2n);
  // min-height: 88px;

  .romanized-name {
    font-family: $font-family-secondary;
    line-height: $headings-line-height;
    font-size: 14px;
  }
  .name {
    display: block;
    color: $brand-lightGrey;
    font-size: 11px;
  }

}
.release-image {
  @include span-columns(1, 6);
  height: 65px;

  .ss-icon {
    font-size: 24px;
    width: 30px; height: 30px;
  }
}
.release-meta {
  @include span-columns(5 omega, 6);
  padding-top: 6px;
}

.release-data {
  color: $brand-medGrey;
  font-size: 12px;
}

.release-participants {
  font-size: 13px;
}
