{% extends "layouts/site_base.html" %}
{% load floppyforms %}

{% block content %}
<header class="section-title">
    <div class="container">
        <div class="row"><h1 class="col-sm-12">{% block section-title %}{% endblock %}</h1></div>
    </div>
</header>
<section class="creation">
    <div class="container">
        <div class="row">
            <div class="help col-push-10 col-sm-2">
            {% block help %}{% endblock %}
            </div>
            <div class="form col-pull-2 col-sm-10">
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ error }}
                </div>
                {% endfor %}
                {% for error in form|hidden_field_errors %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ error }}
                </div>
                {% endfor %}

                <form action="." method="post" accept-charset="utf-8">
                {% block form %}{% endblock %}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
