{% extends "base.html" %}
{% load admin_urls %}

{% block page %}
{% if request.user.is_staff %}
<div class="administration visible">
  <div class="container">
  Hi <strong>{{ request.user.username }}</strong>! &middot; <a href="{% url 'admin:index' %}" data-no-turbolink><span class="ss-icon ss-rocket"></span> Administration</a>
  {% if object and opts %}<a class="object" href="{% url opts|admin_urlname:'change' object.id %}" data-no-turbolink>View "{{ object }}" in the admin. <span class="ss-icon ss-navigateright"></span></a>{% endif %}
  </div>
</div>
{% endif %}
<header class="header" role="banner">
  <div class="container">
    <a href="{% url "site-home" %}" class="logo-wordmark header-logo-wordmark">
      <span data-icon="hicon-logo-hello" class="hicon hicon-logo-hello"></span><span data-icon="hicon-logo-base" class="hicon hicon-logo-base"></span>
    </a>

    <form action="{% url "search" %}" class="header-search searchbar" method="get" accept-charset="utf-8">
      <div class="search-container">
        <span class="ss-icon ss-search"></span>
        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" class="search js-search" data-hotkey="/" id="id_q" name="q" placeholder="What are you looking for?" value="{{ request.GET.q }}">
        {# <button type="submit"><span class="ss-icon ss-search"></span></button> #}
      </div>
      <div class="search-results js-search-results"></div>
    </form>

    {% comment %}
    <div class="header-navigation">
      <a href="{% url 'happenings-by-year' 2013 %}">Happenings</a>
    </div>
    {% endcomment %}

    <div class="header-userbox">
    {% if request.user.is_authenticated %}
       {# <a href="{% url "signout" %}">Sign out</a> #}
    {% else %}
      {# <a href="{% url "signin" %}">Sign in</a> #}
    {% endif %}
    </div>
  </div>
</header>
<main class="content" role="main">
{% block content %}{% endblock %}
</main>
{% include "partials/footer.html" %}
{% endblock page %}
