{% extends "base.html" %}

{% block page %}
<header class="header" role="banner">
    <div class="container">
        <a href="{% url "site-home" %}" class="logo-wordmark header-logo-wordmark">
            <span data-icon="hicon-logo-hello" class="hicon hicon-logo-hello"></span><span data-icon="hicon-logo-base" class="hicon hicon-logo-base"></span>
        </a>

        <form action="{% url "search" %}" class="header-search searchbar" method="get" accept-charset="utf-8">
            <div class="search-container">
                <span class="ss-icon ss-search"></span>
                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" class="search js-search" data-hotkey="/" id="id_q" name="q" placeholder="What are you looking for?" value="{{ request.GET.q }}">
                {# <button type="submit"><span class="ss-icon ss-search"></span></button> #}
            </div>
            <div class="search-results js-search-results"></div>
        </form>

        <div class="header-userbox">
        {% if request.user.is_authenticated %}
            Hi {{ request.user.username }}! {# <a href="{% url "signout" %}">Sign out</a> #}
            {% if request.user.is_staff %}<a href="/admin" data-no-turbolink>Administration</a>{% endif %}
        {% else %}
            {# <a href="{% url "signin" %}">Sign in</a> #}
        {% endif %}
        </div>
    </div>
</header>
<main class="content" role="main">
{% block content %}{% endblock %}
</main>
{% include "partials/footer.html" %}
{% endblock page %}
