{% extends "layouts/site_base.html" %}
{% load markdown_deux_tags typogrify_tags %}

{% block title %}{{ object.title }} ({{ object.published|date:"DATE_FORMAT" }}) &middot; News{% endblock %}
{% block body-class %}override{% endblock %}
{% block content %}
<section class="news">
  <header class="override-header">
    <div class="container">
      <h1 class="news-header"><span class="year">H!P</span> News</h1>
    </div>
  </header>

  <article class="news-item">
    <div class="container">
      <ul class="subjects">
      {% for subject in object.subjects %}
        <li class="subject">
          <a class="subject-link" href="{{ subject.get_absolute_url }}">
            {# <img class="subject-image" src="{{ subject.image.url }}"> #}
            <span class="subject-name">{{ subject }}</span>
          </a>
        </li>
      {% endfor %}
      </ul>

      <div class="item">
        <header class="item-header">
          <h1 class="item-title">{{ object.title|typogrify }}</h1>
          <div class="item-metadata">
            <time class="item-published" datetime="{{ object.published|date:'c' }}">{{ object.published|date:"DATE_FORMAT" }}</time> / <span class="item-author">Reported by {{ object.author }}</span>
        </header>

        <div class="item-body">
          {{ object.body|markdown|typogrify }}

          <ul class="item-updates">
          {% for update in object.updates.all %}
            <li class="item-update">{{ update }}</li>
          {% endfor %}
          </ul>

          <div class="item-attribution">
            <table class="attribution-table">
              {% if object.source_url %}
              <tr>
                <th>Source</th>
                <td><a href="{{ object.source_url }}">{{ object.source }} <small>({{ object.source_url }})</small></a></td>
              </tr>
              {% endif %}
              {% if object.via_url %}
              <tr>
                <th>Via</th>
                <td><a href="{{ object.via_url }}">{{ object.via }} <small>({{ object.via_url }})</small></a></td>
              </tr>
              {% endif %}
            </table>
          </div>
        </div>

        <ul class="item-images">
        {% for image in object.images.all %}
          <li class="item-image">
            <img src="{{ image.thumbnail.url }}">
            {{ image.caption }}
          </li>
        {% endfor %}
        </ul>
      </div>

      <ul class="item-juke">
      {% if object.get_previous_by_published %}
        <li class="juke juke-previous">
          <span class="ss-icon ss-navigateleft"></span>
          <span class="juke-link">
            <a href="{{ object.get_previous_by_published.get_absolute_url }}">{{ object.get_previous_by_published.title }}</a>
            <small>{{ object.get_previous_by_published.published|date:"DATE_FORMAT" }}</small>
          </span>
        </li>
      {% endif %}
      {% if object.get_next_by_published %}
        <li class="juke juke-next">
          <span class="ss-icon ss-navigateright"></span>
          <span class="juke-link">
            <a href="{{ object.get_next_by_published.get_absolute_url }}">{{ object.get_next_by_published.title }}</a>
            <small>{{ object.get_next_by_published.published|date:"DATE_FORMAT" }}</small>
          </span>
        </li>
      {% endif %}
      </ul>
    </div>
  </article>
</section>

{% endblock content %}
