.header {
  a { text-decoration: none; }
  .container {
    align-items: center;
    display: flex;
    padding-top: 1rem; padding-bottom: 1rem;
  }
}

.logo-wordmark {
  .hicon-logo-hello,
  .hicon-logo-base {
    @include position(relative, 2px 0 0 0);
    font-size: 22px;
  }
  .hicon-logo-base { margin-left: 2px; }
}
.header-logo-wordmark {
  width: calc(101px + 1rem);  // Width of the logo is 101px.
}

.header-tagline {
  display: inline-block;
  margin-top: 0; margin-bottom: 0; margin-left: 6px;
  color: rgba(#FFF, 0.6);
  font-size: 12px;
  font-style: italic;
  vertical-align: 0;
}

.header-search {
  position: relative;
  width: columns(4, 12);

  background-color: #FDFDFD;
  border-radius: 4px;
  border: 1px solid #EEE;
  border-bottom-color: #DDD;
  transition: all 0.2s ease;

  &.focus {
    border-color: #007ECE;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(#00BAEB, 0.5);

    .ss-icon { color: #00BAEB; }
  }
}
.search-container {
  align-items: center;
  display: flex;
  padding: 4px;

  input {
    flex: 1;
    width: columns(3, 4);

    background-color: transparent;
    border: none;
    font-size: 12px;

    &:focus {
      outline: none;
    }
  }
  .ss-icon {
    @include position(relative, 1px 0 0 0);
    width: 24px;

    color: $brand-lightGrey;
    text-align: center;
  }
}

.header-userbox {
  flex: 1;

  font-size: 12px;
  text-align: right;
}
