@import "compass/reset/utilities";

// .landing-home
// Set of classes that style the Hello! Base home page.
// -----------------------------------------------------------------------------
.landing-home {
  .header-tagline { color: rgba(#FFF, 0.75); }
  .masthead.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 72px;
  }
}

.hero {
  @include position(relative);
  color: #FFF;

  a {
    @include link-colors(#FFF);
    font-weight: 600;
  }
}
.hero-image {
  @include position(absolute, 0px 0px 0px 0px);
  overflow: hidden;
  width: 100%;
  z-index: -1;

  background-color: #272E37;

  img {
    margin-top: -20%;
    width: 100%;
    opacity: 0;
  }
}
.hero-tagline, .hero-search {
  @include position(relative);
  width: columns(6, 12);
}
.hero-tagline {
  margin: 0 gutter(12) 0 0;

  color: #FFF;
  font-size: 48px;
  font-weight: 200;
  letter-spacing: -3px;
  line-height: 1;
}
.hero-search .search-container {
  @include clearfix;
  padding: 4px;
  border-radius: 4px;
  background-color: #FFF;

  input {
    @include span-columns(7, 8);
    padding: 9px 12px 9px;

    border: none;
    font-size: 18px;

    &:focus { outline: none; }
  }
  button {
    @include span-columns(1 omega, 8);
    padding: 10px 12px;

    background-color: $brand-green;
    border: none;
    border-radius: 3px;
    font-size: 18px;

    .ss-icon {
      @include position(relative, 2px 0 0 0);
      color: #FFF;
    }
  }
}
.form-container {
  @include clearfix;
  margin: -4px;
  padding: 4px;

  background-color: rgba(#000, 0.0);
  border-radius: 6px;
  transition: all 250ms ease;

  &.focus { background-color: rgba(#000, 0.5); }
}
.examples {
  padding-top: 1em;

  color: rgba(#FFF, 0.75);
  font-size: 12px;
  text-align: center;
}

#standing-idol {
  background-color: #3c9ce1;

  .recent-posts {
    height: 36px;
    padding-top: 0.5rem; padding-bottom: 0.5rem;
    text-align: center;
  }
  .ss-icon { @include position(relative, 1px 0 0 0); }
}

// .reasonings
// Set of classes that style the value propositions living below the
// homepage's masthead.
.reasonings {
  padding-top: 48px; padding-bottom: 24px;
  text-align: center;

  h2 {
    padding: 0 24px;

    color: #454D57;
    font-family: $font-family-primary;
    font-size: 1.777em;
    font-weight: 400;
    letter-spacing: -1px;

    i {
      color: #272E37;
      font-weight: 600;
    }
  }
  .reasoning-icon {
    text-align: center;

    .ss-icon {
      display: inline-block;
      padding: 13px 0px 7px;
      width: 54px;

      background: #333;
      border-radius: 8px;
      color: #FFF;
      font-size: 24px;
    }
  }
}
.reasoning-list {
  @include reset-list-style;
  margin-top: 0; margin-bottom: 0;
}
.reasoning {
  @include span-columns(4, $total-columns);
  @include nth-omega(3n);
  position: relative;
  font-size: 13px;

  a {
    font-weight: 600;
    &:link, &:visited { color: $headings-font-color; }
  }
  p { padding: 0 12px; }

  .reasoning-icon {
    .ss-books { background: linear-gradient(#CC82EE, #B563E5); }
    .ss-analytics { background: linear-gradient(#F5EA5B, #F0DD40); }
    .ss-compass { background: linear-gradient(#FF68A0, #FF4B81); }
  }
}

// .counts
.counts { padding-bottom: 48px; }
.count-header {
  text-align: center;

  &:before {
    @include position(relative, 36px 0 0 0);
    content: '';
    display: block;
    border-top: 1px solid $brand-paleGrey;
  }
  h2 {
    font-family: $font-family-primary;
    font-size: 1.777em;
    font-weight: 400;
    letter-spacing: -1px;

    i {
      color: #272E37;
      font-weight: 600;
    }
    .heading {
      @include position(relative);
      padding: 0 1rem;
      z-index: 5;
      background-color: #FFF;
    }
  }
  p { margin: 0.5rem 0 1.5rem; }
  .ss-icon {
    @include position(relative, 3px 0 0 0);
    padding-right: 4px;
  }
}
.count-list {
  @include reset-box-model;
  @include reset-list-style;
  display: flex;
  justify-content: space-between;

  .count {
    text-align: center;

    span { font-size: 24px; }
    strong {
      display: block;
      color: $brand-lightGrey;
      font-family: $font-family-secondary;
      font-size: 11px;
    }
  }
}

// Correlations & Happenings
// -----------------------------------------------------------------------------
.correlations {
  @include position(relative);
  background-color: #F9FAFC;
  box-shadow: 0 76px 0 #F9FAFC, 0 77px 0 #F0F3F7;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

// .correlations-header & .correlations-explore-more
.correlations-header {
  padding: 1.777rem 0;
  background-color: #FFF;
  box-shadow: 0 -1rem 2rem rgba(#000, 0.25), inset 0 -1px 0 #DFE3E8;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
.correlations-masthead {
  align-items: center;
  display: flex;
  flex: 2;

  h2 {
    margin: 0;

    color: #FF5B29;
    font-family: $font-family-primary;
    font-size: 2.369rem;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
  }
  h2 span {
    @include position(relative);
    margin-right: -0.317rem;
    vertical-align: 0.5rem;

    color: #FF773A;
    font-family: $font-family-secondary;
    font-size: 1.333rem;
    font-style: normal;
  }
  .correlations-explanation {
    margin: 0;
    margin-left: gutter(12);
    width: columns(6, 12);

    color: #A1ABB6;
    font-size: 12px;
    line-height: 1.3;
  }
}
.correlations-explore-more {
  @include reset-box-model;
  @include reset-list-style;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;

  li {
    border-radius: 4px;
    margin-left: 6px;
  }
  li a {
    display: block;
    padding: 0.563rem 1rem;

    border-radius: 4px;
    color: #FFF;
    font-family: $font-family-secondary;
    font-weight: bold;

    &:hover { background-color: #FFF; }
  }
  .explore-header {
    color: #646D77;
    padding-right: 8px;
    font-size: 12px;
    line-height: 1.3;
  }
  .explore-2011 {
    background-color: #E7658B;

    a:hover {
      box-shadow: inset 0 0 0 2px #E7658B;
      color: #E7658B;
    }
  }
  .explore-2012 {
    background-color: #F05127;

    a:hover {
      box-shadow: inset 0 0 0 2px #F05127;
      color: #F05127;
    }
  }
  .explore-2013 {
    background-color: #00A68E;

    a:hover {
      box-shadow: inset 0 0 0 2px #00A68E;
      color: #00A68E;
    }
  }
}

// .correlation-happenings
.correlation-happenings {
  flex: 2;
  margin-right: gutter(6);

  .happening-date-list {
    @include position(relative);
    padding: 2rem 0 0 1rem;
    box-shadow: inset 3px 0 0 #DFE3E8;

    &:after {
      @include position(absolute, 0 0 -77px 0px);
      content: '';
      width: 3px; height: 100px;

      background: #DFE3E8;
    }
  }
  .happening-date-name {
    width: 3.157rem;

    color: #454D57;
    box-shadow: inset 0 4px 0 0 #FF5B29, inset 0 0 0 1px #DFE3E8, 0 1px 0 #F4F6F9;
    font-size: 1rem;

    &:before { @include position(absolute, 1rem 0 0 -18px); }
    .month-name {
      padding-right: 1px;
      vertical-align: 6px;
      font-size: 12px;
    }
  }
  .happening-event-list {
    font-size: 13px;
  }
  .happening-illustration { display: none; }
}

// .correlation-history
.correlation-history {
  flex: 1;

  h2 {
    margin: 0;
    margin-top: 2rem;

    color: #646D77;
    font-family: $font-family-primary;
    font-size: 1.777em;
    font-weight: 400;
    letter-spacing: -1px;

    i {
      color: #CC82EE;
      font-weight: 600;
    }
  }
  p {
    margin-top: 0.422rem;
    color: #A1ABB6;
    font-size: 13px;
  }
}
.history-list {
  @include reset-box-model;
  @include reset-list-style;
}
.history-item {
  margin-bottom: 1rem;

  background: #FFF;
  border-radius: 4px;
  box-shadow: inset 0 4px 0 0 #CC82EE, inset 0 0 0 1px #DFE3E8, 0 1px 0 #F4F6F9;
}
.history-timestamp {
  justify-content: space-between;
  display: flex;
  margin: 0 0.75rem;
  padding-top: 0.75rem; padding-bottom: 0.563rem;

  border-bottom: 1px solid #DFE3E8;
  color: #454D57;
  font-family: $font-family-secondary;
  font-size: 13px;
}
.history-date { font-weight: bold; }
.history-weekdate {
  color: #828B96;
  font-family: $font-family-primary;
}
.history-event {
  align-items: center;
  display: flex;
  padding: 0.563rem 0.75rem 0.75rem;

  font-size: 13px;

  .happening-event, .happening-illustration { padding: 0; }
  .happening-actors { display: none; }
}

// .image-*
body[class^="path-image"] {
  background-color: #272E37;
  padding: 2rem;
}
.image-detail {
  display: flex;
}
.image-header {
  margin-left: 2rem;
  order: 1;
  padding: 1rem 0;
  width: 25%;

  border-top: 1px solid rgba(#FFF, 0.1);

  &.zoomed { display: none; }
  a { color: #fff; }
  .header-tagline {
    display: block;
    margin-left: 0;
  }
}
.image-viewer img {
  display: block;
  max-width: 100%;

  box-shadow: 0 0 24px rgba(#000, 0.8);

  &:hover {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
  &.zoomed { max-width: none; }
}

// Error pages.
// Styles for pages that error. Because I am Error.
// <http://knowyourmeme.com/memes/i-am-error>
// ---------------------------------------------------------------------
.path-404 {
  h1 {}
  p {}
}
.path-500 {
  h1 {}
  p {}
}
