@import "compass/reset/utilities";

// .landing-home
// Set of classes that style the Hello! Base home page.
// ---------------------------------------------------------------------
.landing-home {
  .header-tagline { color: rgba(#FFF, 0.75); }
  .masthead.container { padding-top: 24px; padding-bottom: 72px; }
}

.hero-tagline, .hero-search {
  @include span-columns(8, $total-columns);
  @include squish(2, 2);
  position: relative;
}

.hero {
  @include position(relative);
  box-shadow: 0 76px 0 #F9FAFC, 0 77px 0 #F0F3F7;
  color: #FFF;

  a {
    @include link-colors(#FFF);
    font-weight: 600;
  }
  .hero-image {
    @include position(absolute, 0px 0px 0px 0px);
    overflow: hidden;
    width: 100%;
    z-index: -1;

    background-color: #272E37;

    img {
      margin-top: -120px;
      width: 100%;
      opacity: 0;
    }
  }
  .hero-tagline {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    color: #FFF;
    font-size: 64px;
    font-weight: 200;
    letter-spacing: -3px;
    line-height: 1;
    text-align: center;
  }
}

.hero-search .search-container {
  @include clearfix;
  padding: 4px;
  border-radius: 4px;
  background-color: #FFF;

  input {
    @include span-columns(7, 8);
    padding: 9px 12px 9px;

    border: none;
    font-size: 18px;

    &:focus { outline: none; }
  }
  button {
    @include span-columns(1 omega, 8);
    padding: 10px 12px;

    background-color: $brand-green;
    border: none;
    border-radius: 3px;
    font-size: 18px;

    .ss-icon {
      @include position(relative, 2px 0 0 0);
      color: #FFF;
    }
  }
}
.form-container {
  @include clearfix;
  margin: -4px;
  padding: 4px;

  background-color: rgba(#000, 0.0);
  border-radius: 6px;
  transition: all 250ms ease;

  &.focus { background-color: rgba(#000, 0.5); }
}
.examples {
  padding: 1em 0;

  color: rgba(#FFF, 0.75);
  font-size: 12px;
  text-align: center;
}

// .reasonings
// Set of classes that style the value propositions living below the
// homepage's masthead.
.reasonings {
  @include reset-list-style;
  margin-top: 0; margin-bottom: 0;
  padding-top: 48px; padding-bottom: 48px;
}
.reasoning {
  @include span-columns(4, $total-columns);
  @include nth-omega(3n);
  position: relative;
  font-size: 13px;

  a {
    font-weight: 600;
    &:link, &:visited { color: $headings-font-color; }
  }
  h2 {
    padding-right: 48px;

    color: #454D57;
    font-family: $font-family-primary;
    font-size: 1.777em;
    font-weight: 400;
    letter-spacing: -1px;

    i {
      color: #272E37;
      font-weight: 600;
    }
  }

  .reasoning-icon {
    text-align: center;

    .ss-icon {
      display: inline-block;
      padding: 13px 0px 7px;
      width: 54px;

      background: #333;
      border-radius: 8px;
      color: #FFF;
      font-size: 24px;
    }
    .ss-books { background: linear-gradient(#CC82EE, #B563E5); }
    .ss-analytics { background: linear-gradient(#F5EA5B, #F0DD40); }
    .ss-compass { background: linear-gradient(#FF68A0, #FF4B81); }
  }
}

// Error pages.
// Styles for pages that error. Because I am Error.
// <http://knowyourmeme.com/memes/i-am-error>
// ---------------------------------------------------------------------
.path-404 {
  h1 {}
  p {}
}
.path-500 {
  h1 {}
  p {}
}
