// .no-query
.no-query {
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.no-results {
  .empty {
    padding: 2rem 0;
    text-align: center;

    h2 {
      margin: 1rem 0;

      color: #E9173F;
      font-size: 7.478rem;
      font-weight: 200;
      letter-spacing: -1rem;
    }
  }
}

// .result-*
// Shared set of standard classes that set the basic styles
// for any and all search results.
.results {
  @include reset-box-model;
  @include reset-list-style;
}
.result {
  padding: 11px 12px 9px;
  border-bottom: 1px solid $brand-paleGrey;
  font-size: 13px;

  a {
    @include link-colors(#333, $brand-green);
    font-weight: normal;
  }
}
.result-item { @include clearfix; }
.result-query { border-bottom: none; }

// .facet(s)
// Standard classes for displaying facets (or simple statistics) around
// the makeup of the search results; usually type or model, etc.
.facets {
  @include reset-box-model;
  @include reset-list-style;
}
.facet {
  padding-top: 5px;
  margin-bottom: 8px;
  position: relative;

  .facet-type {
    position: relative;
    top: -1px;

    color: $brand-lightGrey;
    font-size: 12px;
    text-transform: capitalize;
  }
  .facet-count {
    float: right;
    color: $brand-medGrey;
    font-weight: 700;
  }
  .facet-chart {
    position: absolute;
    top: 0; right: 0;
    display: block;
    height: 1px;
    padding-right: 5px;

    background-color: #a9d2f2; // @@@
    color: #125a95;
  }
}

// .path-search
// Set of classes that handle the main search results page.
.path-search {
  h1, h2 { font-weight: 200; }
  .masthead { padding-top: 2rem; padding-bottom: 2rem; }
  .page-heading {
    margin-top: 10px;

    color: #454D57;
    font-family: $font-family-primary;
    font-size: 2.369rem;
    font-weight: 600;
    letter-spacing: -1px;

    .ss-icon {
      @include position(relative, 3px 0 0 0);
      padding-right: 2px;
    }
  }
  .search-container {
    @include clearfix;
    padding: 4px;

    background-color: #FEFEFE;
    border: 1px solid #EBEFF5;
    border-radius: 4px;
    border-bottom-color: #DFE3E8;

    input {
      @include span-columns(7, 8);
      padding: 9px 12px 9px;

      border: none;
      font-size: 18px;

      &:focus { outline: none; }
    }
    button {
      @include span-columns(1 omega, 8);
      padding: 10px 12px;

      background-color: $brand-green;
      border: none;
      border-radius: 3px;
      font-size: 18px;

      .ss-icon {
        @include position(relative, 2px 0 0 0);
        color: #FFF;
      }
    }
  }

  .search-results-header {
    @include position(relative);
    margin: -1rem 0 2rem 12px;
    padding-left: 26px;

    color: $brand-lightGrey;
    font-family: $font-family-primary;
    font-size: 18px;
    font-weight: 400;

    &:before {
      @include position(absolute, 0 0 0 0px);
      content: '\2514';
    }
    .page-count {
      display: block;
      margin-top: 4px;
      font-size: 12px;
    }
  }

  .facets {
    @include span-columns(2, 12);
  }

  // .result-* overrides.
  .results { @include span-columns(10 omega, 12); }
  .result {
    border: none;
    border-top: 1px solid $brand-paleGrey;
    padding: 18px 0;
  }

  // .item-* overrides.
  .item-object { @include span-columns(7, 10); }
  .item-romanized-name {
    font-size: 16px;
    font-weight: 200;
  }
  .item-name {
    display: block;
    color: #ccc;
    font-size: 12px;
  }
  .item-meta {
    @include span-columns(3 omega, 10);
    color: $brand-lightGrey;
    position: relative;
    top: 20px;
  }
  .item-participants,
  .item-standing { opacity: 0.75; }

  // Hide the header's search field. We're going to make it bigger.
  .header-search { display: none; }
}

// .search-results
// Set of classes for the container that handles any
// auto-complete-related search results.
.search-results {
  @include position(absolute, 30px 0 0 0);
  display: none;
  width: 100%;
  z-index: 100;

  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 0 1px $brand-paleGrey, 0 6px 6px rgba(#000, 0.1);
  color: $brand-medGrey;

  &.active { display: block; }

  // Items.
  .item-type {
    @include span-columns(1 omega, 8);
    padding-top: 2px;

    color: $brand-lightGrey;
    font-size: 11px;
    text-align: right;
    text-transform: capitalize;
  }
  .item-object { @include span-columns(7, 8); }
  .item-romanized-name { }
  .item-name {
    display: block;
    color: $brand-lightGrey;
    font-size: 11px;
  }
}

.landing {
  .search-results {
    top: 56px;
    width: columns(6, 8);
  }
  .result { font-size: 13px; }
  .item-object { @include span-columns(7, 8); }
  .item-type { @include span-columns(1 omega, 8); }
}

// Overrides for specific types of search results.
// .music .item-romanized-name { font-size: 16px; }
// .music .item-meta { top: 20px; }
// .music .identifier { font-weight: bold; text-transform: capitalize; }
// .people .item-romanized-name { font-size: 18px; }
// .people .item-meta { top: 24px; }
