.form {
    padding-top: 24px; padding-bottom: 24px;

    fieldset { margin-bottom: 24px; }
    label {
        display: block;
        text-transform: capitalize;
    }
    ul {
        @include reset-box-model;
        @include reset-list-style;
    }

    .help-block {
        color: #999;
        font-size: 11px;

        display: block;
    }
}

.inline-form {
    li { margin-bottom: 24px; }
}
