.profile {
  background-color: #F9FAFC;

  ul {
    @include reset-box-model;
    @include reset-list-style;
  }
}

// .profile-header (*)
// Classes tasked with styling the header section of a profile page.
.profile-header {
  padding: 1rem 0;
  background-color: #FFF;
}
.profile-metadata {
  @include clearfix;
  padding-bottom: 1rem;
}
.profile-photo {
  @include span-columns(1, 12);
  height: 64px;
  background: #333;
}
.profile-name {
  @include span-columns(8, 12);
  margin-top: 0; margin-bottom: 0;
  padding: 3px 0;

  .name {
    font-size: 1.333rem;
    font-weight: 300;
  }
  .romanized-name {
    color: #454D57;
    font-family: $font-family-primary;
    font-size: 2.369rem;
    font-weight: 600;
    letter-spacing: -1px;

    b { color: $headings-font-color; }
  }
}

// .profile-content (*)
.profile-content { }
