// Import our internal components.
@import "components/normalize";
@import "components/variables";
@import "components/mixins";
@import "components/placeholders";

@import "susy";

// Force the box model to use the saner border-box calculation.
*, *:before, *:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html { -webkit-tap-highlight-color: rgba(#000, 0); }
body {
  color: $body-font-color;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a {
  @include link-colors(#009DDD, #00B64F);
  transition: all 0.2s ease;
  text-decoration: none;
}
ul, ol {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;

  ul, ol { margin-bottom: 0; }
}

.container { @include container; }
.content { }

// Images.
img { vertical-align: middle; }
.img-circle { border-radius: 50%; }

// Mixin-based classes.
// Responsive images (ensure images don't scale beyond their parents).
.img-responsive { @include img-responsive(); }
