// Import our required basic modules: Compass and Normalize.
@import "normalize";
@import "susy";

// Import our internal components.
@import "components/variables";
@import "components/mixins";

// Start the markup scaffolding!
@import "compass/typography/links/link-colors";

// Force the box model to use the saner border-box calculation.
*, *:before, *:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html { -webkit-tap-highlight-color: rgba(#000, 0); }
body {
  color: $font-color-base;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a {
  @include link-colors(#009DDD, #00B64F);
  transition: all 0.2s ease;
  text-decoration: none;
}

.container { @include container; }
.content { }

// Images.
img { vertical-align: middle; }
.img-circle { border-radius: 50%; }

// Mixin-based classes.
// Responsive images (ensure images don't scale beyond their parents).
.img-responsive { @include img-responsive(); }
