// Let's start out with some variables. Here, we determine what kind of
// CSS we want Compass to write, because we don't want EVERYTHING.
$legacy-support-for-ie: false; // Turns off hack support for IE6 & 7.
$legacy-support-for-ie6: $legacy-support-for-ie;
$legacy-support-for-ie7: $legacy-support-for-ie;
$legacy-support-for-ie8: $legacy-support-for-ie;
$support-for-original-webkit-gradients: false; // Because Mac users upgrade.

// Experimental support variables (this'll be removed in the next
// release of Compass).
$experimental-support-for-khtml: false; // What?
$experimental-support-for-mozilla: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-opera: true;
$experimental-support-for-webkit: true;

// Susy variables.
// These are customized from the default values of 4em and 1em
// to allow for a bit more breathing room between the columns.
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 10px;
$container-style: static;
$container-width: 990px;

// Typographic variables.
// Lovingly inspired by Bootstrap's type scaffolding library.
// (http://getbootstrap.com)
$font-family-primary: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Osaka, 'メイリオ', Meiryo, sans-serif !default;
$font-family-secondary: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-hello-project: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif !default;
$font-family-hello-project-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$font-size-base: 14px !default;
$font-size-large: ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small: ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base: 1.428571429 !default; // 20/14
$line-height-computed: floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family: $font-family-secondary !default;
$headings-font-weight: 200 !default;
$headings-line-height: 1.1 !default;

// Temporary color variable placement.
$body-font-color: #454D57 !default;
$headings-font-color: #272E37 !default;

$brand-paleGrey: #EBEFF5 !default;
$brand-lightGrey: #A0ABB6 !default;
$brand-medGrey: #646D77 !default;
$brand-darkGrey: #454D57 !default;
$brand-darkerGrey: #272E37 !default;

$brand-primary-blue: #2A2E33 !default;
$brand-blue: #30BEDA !default;
$brand-dark: #0B3859 !default;
$brand-green: #9BD034 !default;

$brand-primary-accent: #00D7AE !default;
$brand-secondary-accent: #FF5A91 !default;
// $brand-tertiary-accent: !default;
