{% extends "layouts/site_base.html" %}
{# TEMPORARILY DISABLED - typogrify not compatible #}
{% load  %}

{% block title %}About Us{% endblock %}
{% block content %}
{# TEMPORARILY DISABLED - typogrify not compatible #}
{# {% filter typogrify %} #}
<section class="flatpage about">
  <header>
    <div class="container">
      <div class="tagline">
        <h2>Discover everything about <a href="http://helloproject.com">Hello! Project</a>.</h2>
        <h1>We are Hello! Base.</h1>
        <p>Hello! Base combines the depth of Hello! Project with the best of the modern web, providing an immersive experience for fans both new and old while striving to advance the Hello! Project fandom.</p>
      </div>
    </div>
  </header>
  <div class="the-team">
    <div class="container">
      <div class="people founders">
        <h2>"The Couple"</h2>
        <ul class="team-list">
          <li class="person bryan">
            <div class="person-photo"><img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-ash4/t1.0-9/1185600_10101037556475725_1934039545_n.jpg"></div>
            <div class="person-meta">
              <span class="romanized-name">Bryan Veloso</span>
              <span class="person-position">Co-founder</span>
              <div class="person-biography">
                {# <p>A 13-year veteran in professional "internet" shenanagins, Bryan was introduced to Hello! Project in 2005 by Jen. Then, everything changed. A former early employee of both <a href="https://facebook.com/">Facebook</a> and <a href="http://github.com/">GitHub</a>, Bryan is a self-proclaimed hybrid designer and developer who has an unhealthy addiction to video games and passion projects.</p> #}
              </div>
              <div class="person-twitter-handle"><a href="https://twitter.com/bryanveloso">@bryanveloso</a></div>
              <div class="person-favorite-member">
                {# <strong>Favorite Idol</strong> #}
                {# <a href="{% url 'idol-detail' 'shimizu-saki' %}">Shimizu Saki</a> #}
              </div>
            </div>
          </li>
          <li class="person jen">
            <div class="person-photo"><img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-ash3/t1.0-9/1551733_10202573255923888_1141730019_n.jpg"></div>
            <div class="person-meta">
              <span class="romanized-name">Jen Veloso</span>
              <span class="person-position">Co-founder</span>

              <div class="person-twitter-handle"><a href="https://twitter.com/iceymoon">@iceymoon</a></div>
              <div class="person-favorite-member">
                {# <strong>Favorite Idol</strong> #}
                {# <a href="{% url 'idol-detail' 'kamei-eri' %}">Kamei Eri</a> #}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="people editors">
        <h2>The Editors</h2>
        <ul class="team-list">
          <li class="person">
            <div class="person-photo"><img src="https://scontent-b.xx.fbcdn.net/hphotos-ash4/304534_4536437292756_1214546996_n.jpg"></div>
            <div class="person-meta">
              <span class="romanized-name">Hannah Martin</span>
              <span class="person-position">Senior Editor</span>

              <div class="person-twitter-handle"><a href="https://twitter.com/swimmingboys">@swimmingboys</a></div>
            </div>
          </li>
          <li class="person">
            <div class="person-photo"><img src="https://scontent-b.xx.fbcdn.net/hphotos-frc1/998575_10201037117064559_562490202_n.jpg"></div>
            <div class="person-meta">
              <span class="romanized-name">Sahra Nur</span>
              <span class="person-position">Senior Editor</span>

              <div class="person-twitter-handle"><a href="https://twitter.com/chouzetsu">@chouzetsu</a></div>
            </div>
          </li>
          <li class="person">
            <div class="person-photo"><img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-frc3/298488_10151166748237871_1501293269_n.jpg"></div>
            <div class="person-meta">
              <span class="romanized-name">Rina Jonsson</span>
              <span class="person-position">Translator</span>

              <div class="person-twitter-handle"><a href="https://twitter.com/rinrin1513">@rinrin1513</a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% comment %}
  <div class="">
  <p>We not only love the Hello! Project fandom, we love giving back to the Hello! Project fandom. The best example of this? <strong>Hello! Party,</strong> home to the largest gatherings of international fans outside of Japan.</p>
  <iframe width="560" height="315" src="//www.youtube.com/embed/9Rp9qZ27G_U?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  {% endcomment %}
</section>
{# {% endfilter %} #}
{% endblock content %}
