@import "components/scaffolding";
@import "components/type";
@import "components/nprogress";
// @import "components/forms";

@import "fonts/hicons";
@import "fonts/pika";
@import "partials/header";
@import "partials/footer";
@import "partials/landings";
@import "partials/search";

// Boooo.
@import "hacks";

//
.empty-image {
  height: 100%;
  position: relative;

  box-shadow: inset 0 0 0 1px $brand-paleGrey;
  // border-radius: 8px;
  text-align: center;
}
.empty-image .ss-icon {
  @include absolute-center();
  width: 42px; height: 42px;

  color: $brand-paleGrey;
  font-size: 36px;
}

.section-title {
  font-family: $font-family-secondary;
  font-weight: 300;
  font-size: 18px;
}

.subtext {
  color: $brand-medGrey;
  font-size: 12px;
}

.section-masthead {
  box-shadow: inset 0 -1px 0 $brand-paleGrey;
  padding-top: 36px; padding-bottom: 36px;
}

.pill {
  display: inline-block;
  padding: 3px 6px;

  background: #FFF;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px $brand-paleGrey;
  color: $brand-medGrey;
  font-family: $font-family-secondary;
  font-size: 10px;
  font-weight: 600;
}

@import "sections/flatpages";
@import "sections/music";
@import "sections/people";
