@import "components/scaffolding";
@import "components/type";
@import "components/nprogress";
// @import "components/forms";

@import "fonts/hicons";
@import "fonts/pika";
@import "partials/header";
@import "partials/footer";
@import "partials/landings";
@import "partials/search";

// Boooo.
@import "hacks";

//
.empty-image {
  height: 100%;
  position: relative;

  box-shadow: inset 0 0 0 1px $brand-paleGrey;
  // border-radius: 8px;
  text-align: center;
}
.empty-image .ss-icon {
  @include absolute-center();
  width: 42px; height: 42px;

  color: $brand-paleGrey;
  font-size: 36px;
}

.section-title {
  @include position(relative);
  margin: 2rem 0;

  font-family: $font-family-secondary;
  font-weight: 600;
  font-size: 18px;

  &:before {
    @include position(absolute, 0px 0 0 0px);
    width: 100%;

    // border-top: 1px solid $brand-paleGrey;
    content: '';
  }
  b {
    font-family: $font-family-primary;
    font-size: 24px;
  }
  .count {
    @include position(relative, -2px 0 0 0);
    display: inline-block;
    margin-left: 0.5rem;
    min-width: 22px;
    padding: 2px 4px;

    background: #454D57;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    text-align: center;
  }
  .ss-icon {
    @include position(relative, 2px 0 0 0);
    color: #00D9FA;
  }
}

.section-masthead {
  box-shadow: inset 0 -1px 0 $brand-paleGrey;
  padding-top: 36px; padding-bottom: 36px;
}

.pill {
  display: inline-block;
  padding: 3px 6px;

  background: #FFF;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px $brand-paleGrey;
  color: $brand-medGrey;
  font-family: $font-family-secondary;
  font-size: 10px;
  font-weight: 600;
}

.administration {
  margin: -32px;
  padding: 0.5rem 0;

  background-color: #FFF;
  box-shadow: inset 0 -1px 0 #F0F3F7;
  font-size: 11px;
  transition: height 250ms ease;

  a { color: #B6BEC7; }
  a.object { float: right; }
  a:hover { color: #00ACE4; }
  .ss-icon { @include position(relative, 2px 0 0 0); }
}
.administration.visible { margin: 0; }

@import "sections/flatpages";
@import "sections/music";
@import "sections/people";
